@using NGKBusi.Models
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;

@model Users

@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
    <style>
        /*body {
            color: #000;
            overflow-x: hidden;
            min-height: 100%;
            background-image: linear-gradient(to right, #D500F9, #FFD54F);
            background-repeat: no-repeat;
            background-size: cover
        }*/
        body {
            background-image: url('../Images/niterra-bg.jpg');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        input, textarea {
            background-color: #fff;
            border-radius: 40px !important;
            padding: 12px 15px 12px 15px !important;
            width: 100%;
            box-sizing: border-box;
            border: none !important;
            border: 1px solid #08444f !important;
            font-size: 16px !important;
            color: #000 !important;
            font-weight: 300;
        }

        #CaptchaInputText {
            background-color: #fff;
            border-radius: 40px !important;
            padding: 12px 15px 12px 15px !important;
            width: 100%;
            box-sizing: border-box;
            border: none !important;
            border: 1px solid #08444f !important;
            font-size: 16px !important;
            color: #000 !important;
            font-weight: 400;
        }

            #CaptchaInputText:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: 1px solid #f6b500 !important;
                outline-width: 0;
                font-weight: 400;
            }
        input:focus, textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #f6b500 !important;
            outline-width: 0;
            font-weight: 400;
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0;
        }

        .card {
            border-radius: 0;
            border: none;
            
        }

        .card1 {
            width: 50%;
            padding: 40px 30px 10px 30px;
        }

        .card2 {
            width: 50%;
            background-image: linear-gradient(to right, #fff, #f6b500);
        }

        #logo {
            width: 240px;
            height: 100px;
        }

        .heading {
            margin-bottom: 60px !important;
        }

        ::placeholder {
            color: #000 !important;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: #000 !important;
        }

        ::-ms-input-placeholder {
            color: #000 !important;
        }

        .form-control-label {
            font-size: 12px;
            margin-left: 15px;
        }

        .msg-info {
            padding-left: 15px;
            margin-bottom: 30px;
        }

        .btn-color {
            border-radius: 50px;
            color: #fff;
            background-color: #08444f;
            padding: 15px;
            cursor: pointer;
            border: none !important;
            margin-top: 40px;
        }

            .btn-color:hover {
                color: #fff;
                background-color: #08444f78;
            }

        .btn-white {
            border-radius: 50px;
            color: #D500F9;
            background-color: #fff;
            padding: 8px 40px;
            cursor: pointer;
            border: 2px solid #D500F9 !important;
        }

            .btn-white:hover {
                color: #fff;
                background-image: linear-gradient(to right, #FFD54F, #D500F9);
            }

        a {
            color: #000;
        }

            a:hover {
                color: #000;
            }

        .bottom {
            width: 100%;
            margin-top: 50px !important;
        }

        .sm-text {
            font-size: 15px;
        }

        @@media screen and (max-width: 992px) {
            .card1 {
                width: 100%;
                padding: 40px 30px 10px 30px;
            }

            .card2 {
                width: 100%;
            }

            .right {
                margin-top: 100px !important;
                margin-bottom: 100px !important;
            }
        }

        @@media screen and (max-width: 768px) {
            .container {
                padding: 10px !important;
            }

            .card2 {
                padding: 50px;
            }

            .right {
                margin-top: 50px !important;
                margin-bottom: 50px !important;
            }
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container px-4 py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-12 my-4">
                            <div class="row justify-content-center mb-2">
                                <img id="logo" src="@Url.Content("~/Images/niterra-logo.jpg")">
                            </div>

                            <center><h6 class="msg-info align-self-center">Please login to your account</h6></center>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-group">
                                    <label class="form-control-label text-muted">NIK</label>
                                    @Html.TextBoxFor(m => m.NIK, new { @class = "", placeholder = "NIK" })
                                    @Html.ValidationMessageFor(m => m.NIK, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label text-muted">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label text-muted">Security Code</label>
                                    <!--@Html.MathCaptcha()-->  <!-- Menambahkan input field -->
                                    @Html.Captcha("Refresh", "", 4, "The Captcha is required", true)
                                    <p class="Error">  @ViewBag.ErrMessage </p>
                                    <p>
                                </div>

                                <div class="row justify-content-center my-3 px-3">
                                    <button class="btn-block btn-color">Login to Portal</button>
                                </div>

                                <div class="row justify-content-center my-2">
                                    <a href="#"><small class="text-muted">Forgot Password?</small></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <h3 class="text-black-50">Welcome to Niterra Portal</h3>
                        <small class="text-black">
                            In order to improve security and prevent cyber attacks on the Portal application, we have added a security code that must be entered when logging in..
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

