@{
    ViewBag.Title = "EditMasterItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: sans-serif;
    }

    a {
        color: #369;
    }

    .box {
        width: 485px;
        float: left;
    }

    .note {
        width: 500px;
        margin: 50px auto;
        font-size: 1.1em;
        color: #333;
        text-align: justify;
    }

    #drop-area {
        position: relative;
        border: 2px solid #ccc;
        width: 300px;
        height: 280px;
        overflow: hidden;
        margin-bottom: 10px;
    }

        #drop-area .controll-panel {
            position: absolute;
            bottom: 0;
            right: 0;
        }

            #drop-area .controll-panel .item {
                display: inline-block;
                padding: 10px;
                cursor: pointer;
                background-color: #23232360;
            }

                #drop-area .controll-panel .item i {
                    color: #fff;
                }

        #drop-area label {
            margin-bottom: 0;
            height: 100%;
            width: 100%;
            display: block;
        }

        #drop-area .uploadIcon {
            border: none;
            height: 100%;
        }

            #drop-area .uploadIcon i {
                margin: 0 auto;
                display: block;
                width: 60px;
                position: relative;
                top: 45%;
            }

        #drop-area.highlight {
            border-color: purple;
        }

    .my-form {
        margin-bottom: 10px;
    }

    #gallery {
        height: 100%;
    }

        #gallery img {
            vertical-align: middle;
            width: 100%;
        }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

        .button:hover {
            background: #ddd;
        }

    #fileElem {
        display: none;
    }

    #sendForm {
        width: 100%;
    }

        #sendForm .areapaste input {
            padding-left: 10px;
            width: 320px;
            height: 35px;
            font-size: 16px;
        }

    /*_______________*/
    #details_img {
        padding: 20px;
        float: left;
        width: 630px;
    }

        #details_img .list .item {
            margin-bottom: 10px;
        }

            #details_img .list .item .attr {
                width: 120px;
            }

            #details_img .list .item .attr,
            #details_img .list .item .data {
                display: inline-block;
            }

    #container-image .container {
        width: 200px;
        display: inline-block;
    }
</style>

<link href="@Url.Content(" ~ /Content/bootstrap-table/bootstrap-table.min.css")" rel="stylesheet">

<script src="@Url.Content(" ~ /Content/bootstrap-table/bootstrap-table.min.js")"></script>

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Edit Item</a>
            </li>
            @*
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabRack" role="tab" aria-controls="profile" aria-selected="false">Rack</a>
            </li>*@
        </ul>

        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-header bg-primary">
                    <a href="@Url.Action("DataMatProm", "MatProm" , new { area="Marketing" })" data-tooltip="Previous Pagge" class="btn btn-sm btn-outline-light mr-2" title="Previous Page">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    Edit Item Master
                </div>
                @{
                    var readOnly = "";
                    if (ViewBag.DetailMatprom.IsExternalItem == 1)
                    {
                        readOnly = "";
                    } else {
                        readOnly = "readonly";
                    }
                }
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                    <form action="@Url.Action(" EditMasterItem", "MatProm" , new { area="Marketing" })" id="formEditItem" name="formEditItem" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="userRequest" value="" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="selItem">ITEMID</label>
                                <input type="text" class="form-control" value="@ViewBag.DetailMatprom.ITEMID" @readOnly />
                                <input type="hidden" name="ITEMID" value="@ViewBag.DetailMatprom.ITEMID" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="selItem">Item Category</label>
                                <input name="ProCateName" type="text" class="form-control" value="@ViewBag.DetailMatprom.ProCateName" @readOnly />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Name</label>
                                <input name="ProductName" type="text" class="form-control" value="@ViewBag.DetailMatprom.ProductName" @readOnly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Group</label>
                                <input name="ItemGroup" type="text" class="form-control" value="@ViewBag.DetailMatprom.ItemGroup" @readOnly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Description</label>
                                <input name="ItemDescription" type="text" class="form-control" value="@ViewBag.DetailMatprom.ItemDescription" @readOnly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Stock Available</label>
                                <input type="text" class="form-control" value="@ViewBag.DetailMatprom.Stock" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @*<div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                </div>*@

                            </div>
                            <div class="form-group col-md-6">

                            </div>
                        </div>
                        @{
                        if (ViewBag.DetailMatprom.ItemGroup == "Tooling")
                        {

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Lifetime</label>
                                <input type="number" class="form-control" name="Lifetime" min="0" value="@ViewBag.DetailMatprom.Lifetime" />
                            </div>
                        </div>
                        }
                        }
                        <div class="form-row">


                        </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" id="btnUpdateItem">Update</button>
                    @{
                    if (ViewBag.DetailMatprom.IsActive == 0)
                    {
                    <button type="reset" id="ActivateSparepart" class="btn btn-success Activation">Activate</button> }
                    else
                    {
                    <button type="reset" id="DeactivateSparepart" class="btn btn-danger Activation">Deactivate</button> }
                    }

                    <button type="reset" class="btn btn-default">Back</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>