

<div class="modal fade" id="createWOModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007582;">
                <h1 class="modal-title fs-5" style="color: white; font-weight:bold;" id="exampleModalLabel">Create Working Order</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="formWO" class="needs-validation" action="#" method="POST" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row mb-3">
                            <div class="col-2">
                                <label for="NIK" class="form-label">User</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="NIK" value="@ViewBag.currUsrName" name="@ViewBag.currUsr" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <label for="Date" class="form-label">Date</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="Date" name="Date" value="@ViewBag.currDate" readonly>
                            </div>
                        </div>

                        <div class="row mb-3" id="numberDiv">
                            <div class="col-2">
                                <label for="number" class="form-label">Number</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="number" name="Number" readonly>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-2">
                                <label for="selVendorList" class="form-label">Vendor</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-10">
                                <div class="position-relative">
                                    <select style="padding: 4px;" id="selVendorList" class="selVendorList" name="selVendorList" required>
                                        <option value="">-- Select a Vendor --</option>
                                        @foreach (var data in ViewBag.vendorList)
                                        {
                                            <option value="@data.ACCOUNTNUM">
                                                @(data.ACCOUNTNUM + " | " + data.Name)
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="idWO" name="id" readonly>


                        <div class="row mb-3">
                            <div class="col-2">
                                <label for="subject" class="form-label">Subject</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-10">
                                <textarea class="form-control" id="subject" rows="3" style="resize:none;" name="Subject" placeholder="Please write your working order purpose..." required></textarea>
                            </div>
                        </div>

                        <div class="row mb-3" id="timestampsDiv">
                            <div class="col-2">
                                <label for="timestamps" class="form-label">Created Time</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="timestamps" name="Timestamps" readonly>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btnSave">
                                <i class="fa fa-plus"></i> | <span>Add</span>
                            </button>
                            <button type="submit" class="btn btn-primary" id="btnEdit">
                                <i class="fa fa-edit"></i> | <span>Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>