
@{
    ViewBag.Title = "Increment Factor";
    ViewBag.SideMenuHeader = "Labor Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssHead{
    <link href="@Url.Content("~/Scripts/jexcel/dist/css/jquery.jexcel.css")" rel="stylesheet" type="text/css" />
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/jexcel/dist/js/jquery.jexcel.js")"></script>
    <script src="@Url.Content("~/Scripts/jexcel/dist/js/jquery.csv.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/FA/LaborCost/IncrementFactor.js?v=" + DateTime.Now.TimeOfDay)"></script>
}
@section sideMenu{
    @Html.Partial("../Shared/_SideMenuPartialLaborCost")
}

<h2>
    Increment Factor
    <button id="btnLCIncrementFactorUpload" class="btn btn-success" title="Upload">Upload</button>
    <input type="file" id="flLCUpload" name="iLCUpload" value="" style="display:none;" />
    <button id="btnLCIncrementFactorSave" class="btn btn-success" title="Save">Save</button>
    @Html.ActionLink("Download Format", "DownloadIncrementFactorFormat", "LaborCost", null, new { id = "btnLCDownloadFormat", Class = "btn btn-primary" })
    <input type="file" name="iLCUpload" id="fileLCUpload" style="display:none;" />
</h2>
<div style="overflow-x:auto;">
    <div id="divIncrementFactorData" data-position="@(ViewBag.positionList)"></div>
</div>