@using NGKBusi.Areas.HSE.Controllers;
@using NGKBusi.Models;

@{
    ViewBag.Title = "dailyCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tbIndex = 0;
    var SIK = ViewContext.Controller as SIKController;
    var dailyCheck = ViewBag.dailyCheck;
    DefaultConnection db = new DefaultConnection();
}
@section cssHead{
    <style type="text/css">
        table td {
            position: relative;
        }

            table td input {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                border: none;
                padding: 10px;
                box-sizing: border-box;
            }
    </style>
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/instascan/instascan.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function destroyCam() {
                Instascan.Camera.getCameras().then(function (cameras) {
                    if (cameras.length > 0) {
                        if (cameras[1]) {
                            scanner.stop(cameras[1]);
                        } else {
                            scanner.stop(cameras[0]);
                        }
                    } else {
                        console.error('No cameras found.');
                    }
                    // $("#preview").remove();
                }).catch(function (e) {
                    console.error(e);
                });
            }

            function generateCam() {
                if (!$("#preview").length) {
                    var videoContainer = '<video id="preview" style="width: 100%;height:auto;" class="video-back" webkit-playsinline playsinline></video>';
                    $(".videoContainer").append(videoContainer);
                }
                if (!Instascan.Camera.getCameras().length) {
                    scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
                    scanner.addListener('scan', function (content) {
                        //if ($(".thForm2").is(":visible")) {
                        //getTHContent(content);
                        //}
                    });
                }

                Instascan.Camera.getCameras().then(function (cameras) {
                    if (cameras.length > 0) {
                        if (cameras[1]) {
                            scanner.start(cameras[1]);
                            //scanner.start(cameras[1]);
                        } else {
                            scanner.start(cameras[0]);
                        }
                        //$('.checkAccount').text("[ START ]");
                        //$(".thForm1,.thForm3,.thForm4,.thForm5").hide();
                        //$(".thForm2").fadeIn();
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function (e) {
                    console.error(e);
                });
            }
            $(".btnCheckCamera").click(function () {
                $("#cameraModal").modal("show");
                generateCam();

                var c = document.getElementById('canvas');
                var context = c.getContext('2d');
                context.canvas.attr("width", video.clientWidth);
                context.canvas.attr("height", video.clientHeight);
            });
            $("#snap").click(function () {
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                var video = document.getElementById('preview');
                context.drawImage(video, 0, 0, video.clientWidth, video.clientHeight);
            });

            $(".btnCheckUpload").click(function () {
                $(this).closest("tr").find(".btnCheckFile").click();
            });
        });
    </script>
}

<h2>Daily Check</h2>
@if (Request.QueryString["FDID"] != null)
{
    <hr />
    <div class="divForm" style="@(Request.QueryString["FDID"]==null ? "display:none;":"")">
        <form action="@Url.Action(Request.QueryString["FDCID"] != null? "formDailyCheckEdit" : "formDailyCheckAdd", "SIK", new { area = "HSE" })" method="post" enctype='multipart/form-data'>

            <div class="form-group row">
                <table id="tblDailyCheck" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>H. PEMERIKSAAN SEBELUM BEKERJA (diisi oleh HSE/PJP)</th>
                            <th>Y</th>
                            <th>N</th>
                            <th>N/A</th>
                            <th>Photo</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Alat pelindung diri tersedia dan sesuai potensi risiko ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ1" value="Y" @(dailyCheck?.Is_Protected == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ1" value="N" @(dailyCheck?.Is_Protected == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ1" value="N/A" @(dailyCheck?.Is_Protected == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ1File" />
                            </td>
                            <td>
                                <input type="hidden" name="iFDID" value="@(Request.QueryString["FDID"])" />
                                <input type="hidden" name="iFDCID" value="@(Request.QueryString["FDCID"])" />
                                <textarea rows="1" class="form-control" name="iQ1Note">@(dailyCheck?.Is_Protected_Note)</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>2. Alat yang digunakan sudah diperiksa dan aman digunakan ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ2" value="Y" @(dailyCheck?.Is_Toolsafe == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ2" value="N" @(dailyCheck?.Is_Toolsafe == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ2" value="N/A" @(dailyCheck?.Is_Toolsafe == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ2File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ2Note">@(dailyCheck?.Is_Toolsafe_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>3. Potensi bahaya dan risiko pekerjaan sudah dikendalikan ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ3" value="Y" @(dailyCheck?.Is_Risk == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ3" value="N" @(dailyCheck?.Is_Risk == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ3" value="N/A" @(dailyCheck?.Is_Risk == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ3File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ3Note">@(dailyCheck?.Is_Risk_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>4. Dokumen Yang dipersyaratkan sudah lengkap ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ4" value="Y" @(dailyCheck?.Is_Document == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ4" value="N" @(dailyCheck?.Is_Document == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ4" value="N/A" @(dailyCheck?.Is_Document == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ4File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ4Note">@(dailyCheck?.Is_Document_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>5. Waktu jam kerja tidak melebihi 12 jam ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ5" value="Y" @(dailyCheck?.Is_Time == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ5" value="N" @(dailyCheck?.Is_Time == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ5" value="N/A" @(dailyCheck?.Is_Time == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ5File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ5Note">@(dailyCheck?.Is_Time_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>6. HSE induksi sudah diberikan dan dipahami ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ6" value="Y" @(dailyCheck?.Is_Induction == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ6" value="N" @(dailyCheck?.Is_Induction == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ6" value="N/A" @(dailyCheck?.Is_Induction == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ6File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ6Note">@(dailyCheck?.Is_Induction_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>7. Pakaian kerja sesuai ketentuan ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ7" value="Y" @(dailyCheck?.Is_Uniform == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ7" value="N" @(dailyCheck?.Is_Uniform == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ7" value="N/A" @(dailyCheck?.Is_Uniform == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ7File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ7Note">@(dailyCheck?.Is_Uniform_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>8. Mengetahui area merokok dan batasan area dilarang merokok ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ8" value="Y" @(dailyCheck?.Is_Smoke == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ8" value="N" @(dailyCheck?.Is_Smoke == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ8" value="N/A" @(dailyCheck?.Is_Smoke == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ8File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ8Note">@(dailyCheck?.Is_Smoke_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>9. Pengendalian limbah/sampah sudah dipahami ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ9" value="Y" @(dailyCheck?.Is_Waste == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ9" value="N" @(dailyCheck?.Is_Waste == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ9" value="N/A" @(dailyCheck?.Is_Waste == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ9File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ9Note">@(dailyCheck?.Is_Waste_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>10. Izin pengambilan foto/video telah disetujui pihak NGK ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ10" value="Y" @(dailyCheck?.Is_Video == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ10" value="N" @(dailyCheck?.Is_Video == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ10" value="N/A" @(dailyCheck?.Is_Video == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ10File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ10Note">@(dailyCheck?.Is_Video_Note)</textarea></td>
                        </tr>
                        <tr>
                            <td>11. Dalam keadaan darurat, metode evakuasi dan titik kumpul diketahui ?</td>
                            <td style="width:50px;"><input type="radio" name="iQ11" value="Y" @(dailyCheck?.Is_Emergency == "Y" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ11" value="N" @(dailyCheck?.Is_Emergency == "N" ? "checked" : "") required /></td>
                            <td style="width:50px;"><input type="radio" name="iQ11" value="N/A" @(dailyCheck?.Is_Emergency == "N/A" ? "checked" : "") required /></td>
                            <td class="text-center">
                                <button class="btn btn-primary d-inline-block btnCheckCamera"><i class="fas fa-camera"></i></button>
                                <button class="btn btn-primary d-inline-block btnCheckUpload"><i class="fas fa-upload"></i></button>
                                <input type="file" class="d-none btnCheckFile" name="iQ11File" />
                            </td>
                            <td><textarea rows="1" class="form-control" name="iQ11Note">@(dailyCheck?.Is_Emergency_Note)</textarea></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn @(Request.QueryString["FDCID"] != null ? "btn-warning" : "btn-primary") form-control" onclick="return confirm('Are you sure want to @(Request.QueryString["FDCID"] != null ? "edit" : "submit") this data?')">@(Request.QueryString["FDCID"] != null ? "Edit" : "Submit")</button>
            </div>
        </form>
    </div>


}
<!-- Modal -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Take Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="videoContainer"></div>
                <button id="snap">Snap Photo</button>
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary form-control">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="row thForm2" style="display: none;">
    <div class="col-md-6 m-auto">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                Mulai scan QR-Code untuk temukan harta karun.
            </div>
        </div>
        <div class="playAccount thInfo">-</div>
        <div class="totalPoint thInfo"><label class="thPoint">0</label> POINTS</div>
        <div class="thEnd btn btn-danger form-control">[ END ]</div>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>No SID</th>
            <th>Tanggal</th>
            <th>User Dept</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in ViewBag.SIDList)
        {
            <tr>
                <td>@(++tbIndex)</td>
                <td><a href="@("/NGKBusi/HSE/SIK/dailyCheck?FDID=" + @data.ID)">@data.SID</a></td>
                <td>@data.Created_At.ToString("dd-MM-yyyy")</td>
                <td>@data.Dept</td>
                <td><span class="badge badge-@(data.Approval <= 1 ? "info": data.Approval == 2 ? "warning" : "success" )">@SIK.ApprovalStatus(data.Approval)</span></td>
                <td></td>
            </tr>
            int? dataID = int.Parse(data.ID.ToString());
            var dataChild = db.HSE_SIK_Form_Daily_Check.Where(w => w.Daily_Form_ID == dataID).ToList();
            <tr>
                <td colspan="6">
                    <ul class="list-group" style="display:block;">
                        @foreach (var dataSub in dataChild)
                        {
                        <a href="@("/NGKBusi/HSE/SIK/dailyCheck?FDID=" + dataID + "&FDCID=" + @dataSub.ID)"><li class="list-group-item" style="width:50px;float:left;">@dataSub.ID</li></a>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>