@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using NGKBusi.Models;
@{
    ViewBag.Title = "_SideMenuPartial";
    var currUser = ((ClaimsIdentity)User.Identity);
    var currNIK = currUser.GetUserId();
    DefaultConnection db = new DefaultConnection();
    var checkAccess = db.FA_Labor_Cost_Access.Where(w => w.NIK == currNIK).FirstOrDefault();
}

<!-- Sidebar -->
<ul>
    @if (checkAccess?.isMaster == true)
    {
        <li class="navSubChild navSubChildHeader">
            <span>Master</span>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("Access","LaborCost",new { area = "FA" })"><span>Access</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("EmployeeData","LaborCost",new { area = "FA" })"><span>Employee Data</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("Master","LaborCost",new { area="FA" })"><span>Basic Salary</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("Rate","LaborCost",new { area="FA" })"><span>Rate</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("WorkingDay","LaborCost",new { area="FA" })"><span>Working Day</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("IncrementFactor","LaborCost",new { area="FA" })"><span>Increment Factor</span></a>
        </li>
    }
    @if (checkAccess?.isDataEntry == true)
    {
        <li class="navSubChild navSubChildHeader">
            <span>Data Entry</span>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("ManPowerPlan","LaborCost",new { area="FA" })"><span>Man Power Plan</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("OvertimePlan","LaborCost",new { area="FA" })"><span>Overtime Plan</span></a>
        </li>
    }
    @if (checkAccess?.isReport == true)
    {
        <li class="navSubChild navSubChildHeader">
            <span>Report</span>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("MPPStatus","LaborCost",new { area="FA" })"><span>Approval Status</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("BudgetExpenseLabor","LaborCost",new { area="FA" })"><span>Budget Expense Labor</span></a>
        </li>
        <li class="navSubChild">
            <a href="@Url.Action("GeneralLedger","LaborCost",new { area="FA" })"><span>General Ledger</span></a>
        </li>
    }
</ul>
<!-- /#sidebar-wrapper -->
