
@{
    ViewBag.Title = "IT Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IT Policy</h2>
<link href="@Url.Content("~/Content/datepicker/datepicker.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/datepicker/datepicker.js")"></script>
<style>
    body {
        background: #eee;
        font-size: 1rem;
    }

    .file-box {
        float: left;
        width: 220px;
    }

    .file-manager h5 {
        text-transform: uppercase;
    }

    .file-manager {
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }

    table li a {
        color: #666666;
        display: block;
        padding: 5px 0;
    }

    table li {
        border-bottom: 1px solid #e7eaec;
        display: block;
    }

        table li i {
            margin-right: 8px;
            color: #3d4d5d;
        }

    .ibox li a {
        color: #666666;
        display: block;
        padding: 5px 0;
    }

    .ibox li {
        border-bottom: 1px solid #e7eaec;
        display: block;
    }

    .ibox li i {
        margin-right: 8px;
        color: #3d4d5d;
    }
    .category-list li a {
        color: #666666;
        display: block;
        padding: 5px 0;
    }

    .category-list li {
        display: block;
    }

        .category-list li i {
            margin-right: 8px;
            color: #3d4d5d;
        }

        .category-list li a .text-navy {
            color: #1ab394;
        }

        .category-list li a .text-primary {
            color: #1c84c6;
        }

        .category-list li a .text-info {
            color: #23c6c8;
        }

        .category-list li a .text-danger {
            color: #EF5352;
        }

        .category-list li a .text-warning {
            color: #F8AC59;
        }

    .file-manager h5.tag-title {
        margin-top: 20px;
    }

    .tag-list li {
        float: left;
    }

        .tag-list li a {
            font-size: 10px;
            background-color: #f3f3f4;
            padding: 5px 12px;
            color: inherit;
            border-radius: 2px;
            border: 1px solid #e7eaec;
            margin-right: 5px;
            margin-top: 5px;
            display: block;
        }

    .file {
        border: 1px solid #e7eaec;
        padding: 0;
        background-color: #ffffff;
        position: relative;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .file-manager .hr-line-dashed {
        margin: 15px 0;
    }

    .file .icon,
    .file .image {
        height: 100px;
        overflow: hidden;
    }

    .file .icon {
        padding: 15px 10px;
        text-align: center;
    }

    .file-control {
        color: inherit;
        font-size: 11px;
        margin-right: 10px;
    }

        .file-control.active {
            text-decoration: underline;
        }

    .file .icon i {
        font-size: 70px;
        color: #dadada;
    }

    .file .file-name {
        padding: 10px;
        background-color: #f8f8f8;
        border-top: 1px solid #e7eaec;
    }

    .file-name small {
        color: #676a6c;
    }

    ul.tag-list li {
        list-style: none;
    }

    .corner {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        line-height: 0;
        border: 0.6em solid transparent;
        border-right: 0.6em solid #f1f1f1;
        border-bottom: 0.6em solid #f1f1f1;
        right: 0em;
        bottom: 0em;
    }

    a.compose-mail {
        padding: 8px 10px;
    }

    .mail-search {
        max-width: 300px;
    }

    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox.collapsed .fa.fa-chevron-up:before {
            content: "\f078";
        }

        .ibox.collapsed .fa.fa-chevron-down:before {
            content: "\f077";
        }

        .ibox:after,
        .ibox:before {
            display: table;
        }

    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .ibox-footer {
        color: inherit;
        border-top: 1px solid #e7eaec;
        font-size: 90%;
        background: #ffffff;
        padding: 10px 15px;
    }

    a:hover {
        text-decoration: none;
    }

    #pdfContainer {
        height: 920px;
        width: 990px;
        margin-left: 30px
    }

    .pdf-preview {
        width: 100%;
        height: 900px;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Tambahkan referensi PDFObject -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
<div class="row" style="margin-top:20px">
    <div class="col-md-3">
        @{
            string display = "";
            string displayUser = "";

            if (ViewBag.nik == "719.04.15" || ViewBag.nik == "863.09.22")
            {
                display = "";
                displayUser = "none";
            }
            else
            {
                display = "none";
                displayUser = "";
            }
        }
        <div class="ibox float-e-margins" style="display:@display">
            <div class="ibox-content">
                <div class="file-manager">
                    <form action="@Url.Action("UploadITPolicy", "ITPolicy", new { area = "IT" })" method="post" enctype="multipart/form-data" id="formUploadITDocument">
                        <h5>Upload Document</h5>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Select Document</label>
                            <input type="file" class="form-control" name="fileTaxDocumentation" />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Year</label>
                            <input type="text" class="form-control datePeriode" name="Year" autocomplete="off" />
                        </div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary" name="btnUpload" value="Upload" id="btnUploadDocument" />Upload</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>




        <div class="ibox float-e-margins" style="display:@display">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>Version Management</h5>
                    <table class="table">
                        @foreach (var item in ViewBag.document)
                        {

                            <tr>
                                <td style="width:80%"> <li><a href="#" class="pdfLink" data-id="@item.DocumentName"><i class="fa fa-folder"></i> @item.Year</a></li></td>
                                <td style="float:right"><a href="#" data-id="@item.ID" class="btn btn-warning deleteDocument" style="display:@display"><i class="fa fa-trash-o"></i></a></td>
                            </tr>

                        }

                    </table>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins" style="display:@displayUser">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>Version</h5>
                    <table class="table">
                        @foreach (var item in ViewBag.document)
                        {

                            <li><a href="#" class="pdfLink" data-id="@item.DocumentName"><i class="fa fa-folder"></i> @item.Year</a></li>

                        }

                    </table>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 animated fadeInRight">
        <div class="row">
            <div id="pdfContainer"></div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>


<script type="text/javascript">
    $(function () {
        var $datePeriode = $('.datePeriode');
        $('.datePeriode').css('z-index', '1600');

        $datePeriode.datepicker({
            autoHide: true,
            format: 'yyyy'
        });


    })

    $(document).on('click', '.deleteDocument', function (e) {
        var id = $(this).data("id");
        var urlString = "@Url.Action("DeleteDocument", "ITPolicy", new { area = "IT" })";
        confirmDelete(urlString, id);
    });

    function confirmDelete(Link, id) {
        swal({
            title: "Are you sure?",
            text: "Delete This Item !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: Link,
                    type: "POST",
                    cache: false,
                    dataType: 'json',
                    data: { Id: id },
                    success: function (json) {
                        if (json.status == 1) {
                            swal("Deleted!", "Item has been deleted.", "success");
                            location.reload();

                        } else {
                            swal("Deleted!", "Failed To Delete Item.", "error");
                        }
                    },
                    error: function () {
                        swal("Deleted!", Link, "error");
                    }

                })
            } else {
                swal("Cancelled", "Cancel Delete Item", "error");
            }
        });
    }

$(document).ready(function() {
    // Event handler untuk klik pada link PDF
    $('.pdfLink').click(function() {
        // URL PDF yang akan ditampilkan
        var doc = $(this).data("id");
        var pdfUrl = '@Url.Content("~/Files/IT/ITPolicy/")' + doc;
        console.log(pdfUrl);
;        // Memanggil fungsi untuk menampilkan PDF
        displayPDF(pdfUrl);
    });

    // Fungsi untuk menampilkan PDF menggunakan PDFObject
    function displayPDF(pdfUrl) {
        // Ambil elemen kontainer PDF
        var container = $('#pdfContainer')[0];

        var options = {
            pdfOpenParams: {
                navpanes: 0,
                toolbar: 0,
                statusbar: 0,
                view: "FitH"
            },
            forcePDFJS: true // Menggunakan PDF.js jika plugin Adobe Reader tidak tersedia
        };

        // Gunakan PDFObject untuk menampilkan PDF
        PDFObject.embed(pdfUrl, container, options, { scale: 1.5 });

    }

    @*$('.pdfLink').click(function (e) {
        e.preventDefault();

        // Ganti 'pdf_file.pdf' dengan URL file PDF yang ingin Anda tampilkan
        var doc = $(this).data("id");
        var pdfUrl = '@Url.Content("~/Files/IT/ITPolicy/")' + doc;

        $.ajax({
            url: pdfUrl,
            type: 'GET',
            success: function (data) {
                $('#pdfContainer').html('<embed class="pdf-preview" src="' + pdfUrl + '" type="application/pdf">').fadeIn();
            },
            error: function () {
                alert('Gagal memuat PDF.');
            }
        });
    });*@

    @*$('.pdfLink').click(function (e) {
        e.preventDefault();

        // Ganti 'pdf_file.pdf' dengan URL file PDF yang ingin Anda tampilkan
        var doc = $(this).data("id");
        var pdfUrl = '@Url.Content("~/Files/IT/ITPolicy/")' + doc;

        pdfjsLib.getDocument(pdfUrl).promise.then(function (pdf) {
            pdf.getPage(1).then(function (page) {
                var canvas = document.getElementById('pdfPreviewCanvas');
                var context = canvas.getContext('2d');

                var viewport = page.getViewport({ scale: 1 });
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                page.render({
                    canvasContext: context,
                    viewport: viewport
                });

                $('#pdfPreviewCanvas').fadeIn();
            });
        }).catch(function (reason) {
            alert('Gagal memuat PDF.');
        });
    });

    $('.pdfLink').click(function (e) {
        e.preventDefault();

        // Ganti 'pdf_file.pdf' dengan URL file PDF yang ingin Anda tampilkan
        var pdfUrl = 'pdf_file.pdf';

        PDFJS.getDocument(pdfUrl).promise.then(function (pdf) {
            pdf.getPage(1).then(function (page) {
                var canvas = document.getElementById('pdfPreviewCanvas');
                var context = canvas.getContext('2d');

                var viewport = page.getViewport({ scale: 1 });
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                page.render({
                    canvasContext: context,
                    viewport: viewport
                });

                $('#pdfPreviewCanvas').fadeIn();
            });
        }).catch(function (reason) {
            alert('Gagal memuat PDF.');
        });
    });*@

    $('#formUploadITDocument').on('submit', (function (e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: "@Url.Action("UploadITPolicyDocument", "ITPolicy", new { area = "IT" })",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('#btnUploadDocument').prop('disabled', true);
            },
            success: function (json) {
                if (json.status == 1) {
                    $('#btnUploadDocument').prop('disabled', false);
                    $('#btnUploadDocument').html('Upload');
                    swal({
                        title: "Success!",
                        text: json.msg,
                        type: "success"
                    },
                        function () {
                            location.reload();
                        }
                    );
                } else {
                    $('#btnUploadDocument').prop('disabled', false);
                    $('#btnUploadDocument').html('Upload');
                }
            }
        });
    }));
});

</script>