<!doctype html>
@{
    ViewBag.Title = "Report Sparepart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currUser = ViewBag.CurrUser;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.css">

<link href="@Url.Content("~/Content/datepicker/datepicker.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- bootstrap-select -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<!-- bootstrap-select -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/libs/jsPDF/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="@Url.Content("~/Content/datepicker/datepicker.js")"></script>
<style>
    .card {
        /*border-top-left-radius: 2em;
        border-top-right-radius: 2em;*/

        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

        .card .card-header {
            /*border-top-left-radius: inherit;
        border-top-right-radius:inherit;*/
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: medium;
            box-shadow: inset;
        }
</style>

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">Generate Report</div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-lg-12">
                        <form action="" method="post" id="formReport">
                            <div class="form-group row">
                                <label for="dateRange" class="col-md-2 col-form-label">Select Periode</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control dateFrom" id="dateRange" name="dateFrom" placeholder="Start Date" required autocomplete="off">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control dateTo" id="dateRange" name="dateTo" placeholder="End Date" required autocomplete="off">
                                </div>
                                <label for="inputPassword" class="col-md-2 col-form-label">Item Group</label>
                                <div class="col-md-4">

                                    <select class="form-control selectpicker" data-live-search="true" name="ItemGroup" data-placeholder="Select Item Group" required>
                                        <option value="all">-- All Item Group --</option>
                                        <option value="MachineP">MachineP</option>
                                        <option value="Tooling"> Tooling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-md-2 col-form-label">Status</label>
                                <div class="col-md-4">

                                    <select class="form-control selectpicker" data-live-search="true" name="status" data-placeholder="Select Status" required>
                                        <option value="all">-- All Status --</option>
                                        <option value="1">Open</option>
                                        <option value="2">Prepare</option>
                                        <option value="3">Ready</option>
                                        <option value="4">Close</option>
                                    </select>
                                </div>
                                <label for="inputPassword" class="col-md-2 col-form-label">Product Category</label>
                                <div class="col-md-4">

                                    <select class="form-control selectpicker" data-live-search="true" name="ProductCategory" data-placeholder="Select Category" required>
                                        <option value="all">-- All Category --</option>
                                        @foreach (var cat in ViewBag.ItemGroup)
                                        {
                                            <option value="@cat.ProductCategory">@cat.ProCateName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-md-2 col-form-label">Section</label>
                                <div class="col-md-4">

                                    <select class="form-control selectpicker" data-live-search="true" name="COSTNAME" data-placeholder="Section" required>
                                        <option value="all">-- All Section --</option>
                                        @foreach (var sec in ViewBag.Section)
                                        {
                                            <option value="@sec.COSTNAME">@sec.COSTNAME</option>
                                        }
                                    </select>
                                </div>
                                <label for="inputPassword" class="col-md-2 col-form-label">Maintenance Type</label>
                                <div class="col-md-4">

                                    <select class="form-control selectpicker" data-live-search="true" name="MaintenanceType" data-placeholder="Maintenance Type" required>
                                        <option value="all">-- All Type --</option>
                                        <option value="planned">Plan</option>
                                        <option value="unplanned">Unplan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-md-6" style="text-align:center">
                                    <input type="button" class="btn btn-info col-10" id="findData" value="Get Data" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div id="toolbar">

                </div>
                <table id="fresh-table"
                       data-show-export="true"
                       data-id-table="advancedTable"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-toolbar="#toolbar"
                       data-show-columns-toggle-all="true"
                       data-reorderable-columns="true"
                       data-resizable="true"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       data-page-list="[10, 25, 50, 100, all]"
                       class="table table-sm table-hover table-striped">
                    <thead>
                        <tr>
                            <th data-field="Create_Date" data-sortable="true" data-filter-control="input">Request Date</th>
                            <th data-field="Create_Time" data-sortable="true" data-filter-control="input" style="max-width: 1%">Request Time</th>
                            <th data-field="ITEMID" data-sortable="true" data-filter-control="input" style="min-width: 21%">ITEM ID</th>
                            <th data-field="ProductName" data-filter-control="input" data-sortable="true">Product Name</th>
                            <th data-field="ItemGroup" data-filter-control="input" data-sortable="true">Item Group</th>
                            <th data-field="RackBoxName" data-filter-control="input" data-sortable="true">Rack</th>
                            <th data-field="ProCateName" data-filter-control="input" data-sortable="true">Product Category</th>
                            <th data-field="COSTNAME" data-filter-control="input" data-sortable="true">Section Requestor</th>
                            <th data-field="Quantity" data-filter-control="input" data-sortable="true">Quantity</th>
                            <th data-field="MaintenanceType" data-filter-control="input" data-sortable="true">Maitenance Type</th>
                            <th data-field="NameUserRequest" data-filter-control="input" data-sortable="true">Request By</th>
                            <th data-field="Status" data-filter-control="input" data-sortable="true">Status</th>
                            <th data-field="ReadyByName" data-filter-control="input" data-sortable="true">Ready By</th>
                            <th data-field="TotalSeconds" data-filter-control="input" data-sortable="true">Duration</th>
                            <th data-field="StockAvailable" data-filter-control="input" data-sortable="true">Stock Available</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="imagemodal" tabindex="-1" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 750px; height: auto">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //$('.selectpicker').selectpicker();

        $(document).on('click', '#findData', function (e) {

            $('#fresh-table').bootstrapTable('refresh', function () {
                console.log('tes');
            });
        });
    });

    $(function () {
        var $startDate = $('.dateFrom');
        var $endDate = $('.dateTo');

        $startDate.datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd'
        });

        $endDate.datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd',
            startDate: $startDate.datepicker('getDate'),
        });

        $startDate.on('change', function () {
            $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
        });

    })

    $(function () {
        $('#fresh-table').bootstrapTable({
            exportDataType: "all",
            exportTypes: ['excel', 'pdf'],
            buttonsClass: 'primary',
        })
    });

    function queryParams(params) {

        return params;
    }

    function ajaxRequest(params) {

        $.ajax({
            type: "post",
            url: "@Url.Action("GenerateReport", "Sparepart", new { area = "SCM" })",
            dataType: 'json',
            data: $('#formReport').serialize(),
            success: function (items) {
                //console.log(items.notReady);
                params.success({
                    rows: items.rows
                }, null);
                $('#toolbar').html(items.title);
            },
            error: function (er) {
                console.log(params.error(er))
                console.log("error", er);
            }
        })

    }

    $('#fresh-table').on('reorder-column.bs.table', function () {
        var columns = $('#fresh-table').bootstrapTable('getOptions').columns[0];
        var order = columns.map(col => col.field);
        //alert('Columns reordered: ' + order.join(', '));
    });
</script>