
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssHead{
    <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=12.0, user-scalable=yes" />
    <link href="@Url.Content("~/Content/tablesorter/theme.metro-dark.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />

}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/FA/StockOpname/Counting.js?v=" + DateTime.Now.TimeOfDay)"></script>
}

<h2>Purchase Request</h2>

<div class="container-fluid" style="overflow:auto;">
    <div class="row">
        <div class="col-12">
            <table id="tblCountingList">
                <thead>
                    <tr>
                        <th>PR - Number</th>
                        <th class="filter-select" data-placeholder="-Project-">Project</th>
                        <th class="filter-select" data-placeholder="-Asset-">Asset</th>
                        <th class="filter-select" data-placeholder="-Item Group-">Item Group</th>
                        <th>ItemID</th>
                        <th>ItemName</th>
                        <th class="filter-select" data-placeholder="-Section-">Section</th>
                        <th>QTY</th>
                        <th class="filter-select" data-placeholder="-Dimension-">Dimension</th>
                        <th>BudgetNo</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PRID00000001-1</td>
                        <td>Non-Project</td>
                        <td>Non-Asset</td>
                        <td>IT Tools</td>
                        <td>QIDIT00000001</td>
                        <td>Mouse Wireless</td>
                        <td>Information Technology</td>
                        <td>2</td>
                        <td>pcs</td>
                        <td>BEX-xxxx-xxx-xxx</td>
                        <td>For IT Mouse Stock</td>
                    </tr>
                    <tr>
                        <td>PRID00000001-2</td>
                        <td>Non-Project</td>
                        <td>Non-Asset</td>
                        <td>IT Tools</td>
                        <td>QIDIT00000002</td>
                        <td>PC Memory</td>
                        <td>Information Technology</td>
                        <td>1</td>
                        <td>pcs</td>
                        <td>BEX-xxxx-xxx-xxx</td>
                        <td>Additional Memory for IT Member Laptop</td>
                    </tr>
                    <tr>
                        <td>PRID00000001-3</td>
                        <td>Non-Project</td>
                        <td>Non-Asset</td>
                        <td>IT Tools</td>
                        <td>QIDIT00000003</td>
                        <td>Cable Connector Scanner</td>
                        <td>Information Technology</td>
                        <td>1</td>
                        <td>pcs</td>
                        <td>BEX-xxxx-xxx-xxx</td>
                        <td>Tools for network cable tester</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="dark-row">
                        <th colspan="11">
                            <div class="pager">
                                <button type="button" class="first"><<</button>
                                <button type="button" class="prev"><</button>
                                <span class="pagedisplay"></span>
                                <button type="button" class="next">></button>
                                <button type="button" class="last">>></button>
                                <select class="pagesize" title="Select page size" style="color:black;">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                </select>
                                <select class="gotoPage" title="Select page number" style="color:black;"></select>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


