@using System.Security.Claims;
@using Microsoft.AspNet.Identity;
@using NGKBusi.Areas.HC.Controllers;

@{
    ViewBag.Title = "Requestion Proposal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currUser = (ClaimsIdentity)User.Identity;
    var currUserID = currUser.GetUserId().Trim();
    var TL = ViewContext.Controller as TransferLaborController;
}

<h2>Requestion Sheet - TL</h2>
<hr />
<form id="formTransferLabor" action="@Url.Action("RequestLaborAdd", "TransferLabor", new { area = "HC" })" class="form-horizontal" method="post">
    <div class="form-row">
        <div class="form-group col-md-6 align-middle">
            <div class="form-group row">
                <label for="txtReqDate" class="col-sm-4 col-form-label">Tanggal Permintaan</label>
                <div class="col-sm-8">
                    <label>@(DateTime.Now.ToString("dd-MM-yyyy"))</label>
                    <input type="hidden" class="form-control jqDate" id="hfReqDate" name="iReqDate" placeholder="Tanggal" value="@( DateTime.Now.ToString("dd-MM-yyyy") )">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqQty" class="col-sm-4 col-form-label">Jumlah Orang</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="txtReqQty" name="iReqQty" placeholder="Jumlah" required>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group row">
                <label for="txtReqSectionName" class="col-sm-4 col-form-label">Sect. - Pemohon</label>
                <div class="col-sm-8">
                    <select id="selSectionFrom" name="iSectionFrom" class="form-control select2" required>
                        <option value="">-Section-</option>
                        @foreach (var item in ViewBag.Section)
                        {
                            <option value="@(item.Section_Code + "|" + item.Section_Name)">@(item.Section_Code + " | " + item.Section_Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqDivisionName" class="col-sm-4 col-form-label">Nama Div. - Pemohon</label>
                <div class="col-sm-8">
                    <select id="selDivision" name="iDivision" class="form-control select2" required>
                        <option value="">-Division-</option>
                        @foreach (var item in ViewBag.Division)
                        {
                            <option value="@(item)">@(item)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group row">
                <label for="txtReqStartDate" class="col-sm-4 col-form-label">Tgl. Rencana Pekerjaan (Mulai)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control jqDate" id="txtReqStartDate" name="iReqStartDate" placeholder="Tanggal Mulai" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqEndDate" class="col-sm-4 col-form-label">Tgl. Rencana Pekerjaan (Selesai)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control jqDate" id="txtReqEndDate" name="iReqEndDate" placeholder="Tanggal Selesai" required>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group row">
                <label for="txtReqStartTime" class="col-sm-4 col-form-label">Waktu (Mulai)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control jqTime" id="txtReqStartTime" name="iReqStartTime" placeholder="Waktu Mulai" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqEndTime" class="col-sm-4 col-form-label">Waktu (Selesai)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control jqTime" id="txtReqEndTime" name="iReqEndTime" placeholder="Waktu Selesai" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group row">
                <label for="selSectionTo" class="col-sm-4 col-form-label">Section - Penyedia</label>
                <div class="col-sm-8">
                    <select id="selSectionTo" name="iSectionTo" class="form-control select2" required>
                        <option value="">-Section-</option>
                        @foreach (var item in ViewBag.Section)
                        {
                            <option value="@(item.Section_Code + "|" + item.Section_Name)">@(item.Section_Code + " | " + item.Section_Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqJobType" class="col-sm-4 col-form-label">Jenis Pekerjaan (OT/NOT)</label>
                <div class="col-sm-8">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="iJobType" value="Regular" required>Regular
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="iJobType" value="Overtime" required>Overtime
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtReqName" class="col-sm-4 col-form-label">Nama Pemohon</label>
                <div class="col-sm-8">
                    <label>@(currUser.GetUserId() + " - " + ((ClaimsIdentity)User.Identity).FindFirst("fullName").Value)</label>
                    <input type="hidden" class="form-control" id="hfReqName" name="iReqName" placeholder="@(((ClaimsIdentity)User.Identity).FindFirst("fullName").Value)">
                    <input type="hidden" class="form-control" id="hfReqNIK" name="iReqNIK" placeholder="@(currUser.GetUserId())">
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group row">
                <label for="txtJob" class="col-sm-4 col-form-label">Kriteria - Kerja</label>
                <div class="col-sm-8">
                    <select id="selJob" name="iJob" class="form-control select2" required>
                        <option value="">-Job-</option>
                        <option value="Reguler Maintenance Activities">Reguler Maintenance Activities</option>
                        <option value="Non Reguler Mintenance Activities (Breakdown)">Non Reguler Mintenance Activities (Breakdown)</option>
                        <option value="Equipment & Tools Preparation">Equipment & Tools Preparation</option>
                        <option value="Inventory Verification">Inventory Verification</option>
                        <option value="Support Production Process">Support Production Process</option>
                        <option value="Quality - Verification & Check">Quality - Verification & Check</option>
                        <option value="Kaizen Activities">Kaizen Activities</option>
                        <option value="Rework & Repair Activities">Rework & Repair Activities</option>
                        <option value="Safety & 5S Activities">Safety & 5S Activities</option>
                        <option value="Administration & Filling Document">Administration & Filling Document</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="txtJobDesc">Penjelasan - Rencana Kerja</label>
                <textarea id="txtJobDesc" name="iJobDesc" class="form-control" rows="4" placeholder="Penjelasan - Rencana Kerja" required></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary form-control" onclick="return confirm('Are you sure want to submit this data?')">Submit</button>
    <hr />
</form>
<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th colspan="15" class="text-center">MANPOWER REQUEST - SUPPORTING ACTIVITY</th>
            <th rowspan="3" class="align-middle"></th>
        </tr>
        <tr>
            <th rowspan="2" class="align-middle">No</th>
            <th rowspan="2" class="align-middle">Request Date</th>
            <th rowspan="2" class="align-middle">Request Div</th>
            <th rowspan="2" class="align-middle">Request Section</th>
            <th rowspan="2" class="align-middle">Job Criteria</th>
            <th rowspan="2" class="align-middle">Job Desc - Planned</th>
            <th rowspan="2" class="align-middle">MP Qty</th>
            <th rowspan="2" class="align-middle">WT (OT/NWH)</th>
            <th colspan="4" class="text-center">Job - Implementation Plan</th>
            <th rowspan="2" class="text-center">Request To Section</th>
            <th rowspan="2" class="text-center">Prepared By</th>
            <th rowspan="2" class="align-middle">Approval</th>
        </tr>
        <tr>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>End Data</th>
            <th>End Time</th>
        </tr>
        @foreach (var item in ViewBag.RequestList)
        {
            <tr>
                <td>@(item.Req_Number)</td>
                <td>@(item.Created_At.ToString("dd-MM-yyyy"))</td>
                <td>@(item.Division_Name)</td>
                <td>@(item.Section_Code + " - " + item.Section_Name)</td>
                <td>@(item.Job)</td>
                <td>@(item.JobDesc)</td>
                <td>@(item.Qty)</td>
                <td>@(item.JobType)</td>
                <td>@(item.JobStart.ToString("dd-MM-yyyy"))</td>
                <td>@(item.JobStart.ToString("mm:HH"))</td>
                <td>@(item.JobEnd.ToString("dd-MM-yyyy"))</td>
                <td>@(item.JobEnd.ToString("mm:HH"))</td>
                <td>@(item.Section_To_Code + " - " + item.Section_To_Name)</td>
                <td>@(item.Created_By + " - " + item.UserCreatedBy.Name)</td>
                <td>@(TL.ApprovalStatus(item.Approval))</td>
                <td>
                    @if (item.Approval == 1)
                    {
                        <form action="@Url.Action("requestProposalSign", "TransferLabor", new { area = "HC" })">
                            <button class="btn btn-sm btn-primary btnProposalSign" data-toggle="tooltip" title="Sign" data-id="@(item.ID)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-file-signature"></i></button>
                        </form>
                        <hr class="m-1" />
                        <button class="btn btn-sm btn-warning btnProposalEdit" data-toggle="tooltip" title="Edit" data-id="@(item.ID)" data-mode="edit"><i class="fas fa-edit"></i></button>
                        <hr class="m-1" />
                        <button class="btn btn-sm btn-danger btnProposalReject" data-toggle="tooltip" title="Delete" data-id="@(item.ID)"><i class="fas fa-trash"></i></button>
                    }
                </td>
            </tr>
        }
    </thead>
</table>