
@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_SideMenuPartial";
    var currUser = ((ClaimsIdentity)User.Identity);
}

<!-- Sidebar -->
<nav class="navbar navbar-inverse " id="sidebar-wrapper" role="navigation" style="margin-top:10px;">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Inbox","SMSGateway",new { area = "HC" })">Inbox</a>
        </li>
        <li>
            <a href="@Url.Action("Outbox","SMSGateway",new { area = "HC" })">Outbox</a>
        </li>
        <li>
            <a href="@Url.Action("PhoneBook","SMSGateway",new { area = "HC" })">Phone Book</a>
        </li>
        <li>
            <a href="@Url.Action("PhoneGroup","SMSGateway",new { area = "HC" })">Phone Group</a>
        </li>
        <li>
            <a href="@Url.Action("SMSTemplate","SMSGateway",new { area = "HC" })">SMS Template</a>
        </li>
        <li>
            <a href="@Url.Action("SendSMS","SMSGateway",new { area = "HC" })">Send SMS</a>
        </li>
    </ul>
</nav>

<!-- /#sidebar-wrapper -->
