
@{
    ViewBag.Title = "AX - Item Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssHead{
    <link href="@Url.Content("~/Content/tablesorter/theme.metro-dark.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AX/ItemMaster.js?v=" + DateTime.Now.TimeOfDay)"></script>
}

<table id="tbAXItemMaster" class="tablesorter">
    <thead>
        <tr class="dark-row">
            <th colspan="16" class="sorter-false">
                <h2 class="table-title">AX - Item Master <button class="btn btn-success" data-toggle="modal" data-target="#AXItemMaster">Add New</button></h2>
            </th>
        </tr>
        <tr>
            <th>Item Number</th>
            <th class="filter-select" data-placeholder="-Pilih Type-">Group</th>
            <th class="filter-select" data-placeholder="-Pilih Type-">Type</th>
            <th>Name</th>
            <th>Description</th>
            <th>Product_Category</th>
            <th>Pro_Cat_Name</th>
            <th>Section_Code</th>
            <th>Section_Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>QIDIT-0400005</td>
            <td>IT-Exp</td>
            <td>Converter</td>
            <td>Converter VGA-HDMI T</td>
            <td>ORICO Card Reader CRS31A</td>
            <td>S76010</td>
            <td>Common</td>
            <td>B2400</td>
            <td>Information Technology</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="dark-row">
            <th colspan="16">
                <div class="pager">
                    <button type="button" class="first"><<</button>
                    <button type="button" class="prev"><</button>
                    <span class="pagedisplay"></span>
                    <button type="button" class="next">></button>
                    <button type="button" class="last">>></button>
                    <select class="pagesize" title="Select page size" style="color:black;">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                    </select>
                    <select class="gotoPage" title="Select page number" style="color:black;"></select>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
<div id="AXItemMaster" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form id="AXIMForm" action="@Url.Action("Add","ItemMaster",new { area = "AX" })" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">AX - Item Master</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group row text-center">
                            <label for="selItemGroup" class="col-12 font-weight-bold font-weight-bold" style="font-size:3em;color:dimgrey">QIDIT-0400005</label>
                        </div>
                        <div class="form-group row">
                            <label for="selItemGroup" class="col-3 font-weight-bold text-right font-weight-bold">Item Group</label>
                            <div class="col-9">
                                <select id="selAXItemGroup" class="form-control">
                                    <option value="">-Item Group-</option>
                                    @foreach (var itemClass in ViewBag.ItemClass)
                                    {
                                        <option value="@(itemClass.ID)">@(itemClass.Item_Group + " || " + itemClass.Definition)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selAXItemType" class="col-3 font-weight-bold text-right font-weight-bold">Item Type</label>
                            <div class="col-9">
                                <select id="selAXItemType" class="form-control">
                                    <option value="">-Select Type-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selItemGroup" class="col-3 font-weight-bold text-right font-weight-bold">Item Name</label>
                            <div class="col-9">
                                <input type="text" name="name" class="form-control" value="Converter VGA-HDMI T" placeholder="Item Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selItemGroup" class="col-3 font-weight-bold text-right font-weight-bold">Item Description</label>
                            <div class="col-9">
                                <textarea class="form-control" rows="5" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnStepSubmit" type="submit" class="btn btn-default">Save</button>
                    <button id="btnStepCancel" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

