
@{
    ViewBag.Title = "Request Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Canonical SEO -->
<link href="@Url.Content("~/Content/datepicker/datepicker.css")" rel="stylesheet" />

<script src="@Url.Content("~/Content/datepicker/datepicker.js")"></script>

@*<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@

<style>
    .card-header a:link  {
        text-decoration :none;
    }
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa {
        transform: rotate(90deg);
    }

    td a:link{
        text-decoration:none
    }
    .label_form {
        font-weight:bold;
    }
</style>

<h3><span><i class="fa fa-file-text"></i></span>  Request Detail</h3>
<hr />

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">
            <a class="collapsed d-block" data-toggle="collapse" href="#collapse-collapsed" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                <i class="fa fa-chevron-down float-right"></i>
                Information
            </a>
        </h5>
        <div id="collapse-collapsed" class="collapse" aria-labelledby="heading-collapsed">
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <td style="width:30%"><span class="label_form">Request Date</span></td>
                            <td>@(ViewBag.information.CreateTime.ToString("dd MMM yyyy"))</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Reference Quotation No</span></td>
                            <td>@(ViewBag.information.RefQuotationNo)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Supplier Name</span></td>
                            <td>
                                @(ViewBag.information.SupplierName)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">President Director</span></td>
                            <td>
                                @(ViewBag.information.PresidentDirector)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Address</span></td>
                            <td>
                                @(ViewBag.information.Address)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Telp No</span></td>
                            <td>
                                @(ViewBag.information.TelpNo)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Fax No</span></td>
                            <td>
                                @(ViewBag.information.FaxNo)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Project Name</span></td>
                            <td>
                                @(ViewBag.information.ProjectName)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Breakdown Cost</span></td>
                            <td>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Item Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int no = 0;}
                                        @foreach (var cost in ViewBag.breakdownCost)
                                        {
                                            no++;
                                        <tr>
                                            <td>@no</td>
                                            <td>@cost.ItemName</td>
                                            <td>@cost.Price</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                </td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Price</span></td>
                            <td>
                                @(ViewBag.information.Price)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Discount</span></td>
                            <td>
                                @(ViewBag.information.Discount)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Final Price</span></td>
                            <td>
                                @(ViewBag.information.FinalPrice)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Term Of Payment</span></td>
                            <td>
                                @(ViewBag.information.TermPayment)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Lead Time</span></td>
                            <td>
                                @(ViewBag.information.LeadTime)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Penalty</span></td>
                            <td>
                                @(ViewBag.information.Penalty)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Bank Of Account Details</span></td>
                            <td>
                                @(ViewBag.information.BankAccountDetail)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Warranty Product And Service / Install</span></td>
                            <td>
                                @(ViewBag.information.Warranty)</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Plan Start Date</span></td>
                            <td>
                                @(ViewBag.information.PlanStartDate.ToString("dd MMM yyyy"))</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Plan End Date</span></td>
                            <td>
                                @(ViewBag.information.PlanEndDate.ToString("dd MMM yyyy"))</td>
                        </tr>
                        <tr>
                            <td><span class="label_form">Legal Document</span></td>
                            <td><a href="@Url.Action("ShowPdf", "LegalPermit", new { area = "HC", fileName = ViewBag.information.LegalDocument })" target="_blank"><i class="fa fa-file-pdf" style="color:red"></i> @(ViewBag.information.LegalDocument)</a></td>
                        </tr>
                    </tbody>
                </table>
                <!--<form class="" method="post" id="dynamicForm" enctype="multipart/form-data">

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Request Date</label>
                        <div class="col-sm-10">-->
                            @*<input type="text" name="RequestDate" class="form-control clsRequestDate" id="txtRequestDate" autocomplete="off" placeholder="">*@
                                <!--@(ViewBag.information.CreateTime.ToString("dd MMMM yyyy"))
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Reference Quotation No</label>
            <div class="col-sm-10">
                <input type="text" name="RefQuotationNo" class="form-control" id="txtRequestDate" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Supplier Name</label>
            <div class="col-sm-10">
                <input type="text" name="SupplierName" class="form-control" id="txtSupplierName" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">President Director</label>
            <div class="col-sm-10">
                <input type="text" name="PresidentDirector" class="form-control" id="txtPresidentDirector" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" name="Address" class="form-control" id="txtAddress" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Telp No</label>
            <div class="col-sm-10">
                <input type="text" name="TelpNo" class="form-control" id="txtTelpNo" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Fax No</label>
            <div class="col-sm-10">
                <input type="text" name="FaxNo" class="form-control" id="txtFaxNo" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Project Name</label>
            <div class="col-sm-10">
                <input type="text" name="ProjectName" class="form-control" id="txtProjectName" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Breakdown Cost</label>
            <div class="col-sm-10">
                <table class="table table-bordered" id="dynamicTable">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="ItemName[]" class="form-control" placeholder="Item Name"></td>
                            <td><input type="text" name="Price[]" class="form-control harga" placeholder="Price"></td>
                            <td><button type="button" class="btn btn-success" id="addRow">Add New Item</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" name="Price" class="form-control" id="txtPrice" placeholder="" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Discount</label>
            <div class="col-sm-10">
                <input type="text" name="Discount" class="form-control" id="txtDiscount" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Final Price</label>
            <div class="col-sm-10">
                <input type="text" name="FinalPrice" class="form-control" id="txtFinalPrice" placeholder="" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Term Of Payment</label>
            <div class="col-sm-10">
                <input type="text" name="TermPayment" class="form-control" id="txtTermPayment" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Lead Time</label>
            <div class="col-sm-10">
                <input type="text" name="LeadTime" class="form-control" id="txtLeadTime" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Penalty</label>
            <div class="col-sm-10">
                <input type="text" name="Penalty" class="form-control" id="txtPenalty" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Bank Of Account Details</label>
            <div class="col-sm-10">
                <input type="text" name="BankAccountDetail" class="form-control" id="txtBankAccount" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Warranty Product And Service / Install</label>
            <div class="col-sm-10">
                <input type="text" name="Warranty" class="form-control" id="txtWarranty" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Plan Start Date</label>
            <div class="col-sm-10">
                <input type="text" name="PlanStartDate" class="form-control clsPlanStartDate" id="txtPlanStartDate" placeholder="" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Plan End Date</label>
            <div class="col-sm-10">
                <input type="text" name="PlanEndDate" class="form-control clsPlanEndDate" id="txtPlanEndDate" placeholder="" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Upload Legal Document</label>
            <div class="col-sm-10">
                <input type="file" name="LegalDocument" class="form-control" id="txtLegalDocument" placeholder="" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="saveForm">Submit</button> <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>-->
</div>
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header">
            <a class="collapsed d-block" data-toggle="collapse" href="#collapse-progress" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                <i class="fa fa-chevron-down float-right"></i>
                Progress
            </a>
        </h5>
        <div id="collapse-progress" class="collapse" aria-labelledby="heading-collapsed">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Step</th>
                            <th>Description</th>
                            <th>PIC</th>
                            <th>Estimation Time (Days)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int total = 0; } 
                        @foreach (var item in ViewBag.progress)
                        {
                            total = item.Estimation_Time + total;
                            <tr>
                                <td>@item.StepNumber</td>
                                <td>@item.StepName</td>
                                <td>@item.PIC</td>
                                <td>@item.Estimation_Time</td>
                                <td style="text-align:center"><input type="checkbox" style="width:30px;height:30px" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                Total
                            </td>
                            <td colspan="2">@total</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

            <script>
    $(function () {
        var $clsRequestDate = $('.clsRequestDate');
        var $clsPlanStartDate = $('.clsPlanStartDate');
        var $clsPlanEndDate = $('.clsPlanEndDate');

        $clsRequestDate.datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd'
        });

        $clsPlanStartDate.datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd'
        });

        $clsPlanEndDate.datepicker({
            autoHide: true,
            format: 'yyyy-mm-dd'
        });

        ////$endDate.datepicker({
        ////    autoHide: true,
        ////    format: 'yyyy-mm-dd',
        ////    startDate: $startDate.datepicker('getDate'),
        ////});

        //$startDate.on('change', function () {
        //    $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
        //});

    });

$(document).ready(function() {
    // Fungsi untuk memformat angka menjadi format nominal
    function formatRupiah(angka, prefix) {
        let numberString = angka.replace(/[^,\d]/g, "").toString(),
            split = numberString.split(","),
            sisa = split[0].length % 3,
            rupiah = split[0].substr(0, sisa),
            ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        if (ribuan) {
            separator = sisa ? "." : "";
            rupiah += separator + ribuan.join(".");
        }

        rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
        return prefix == undefined ? rupiah : rupiah ? rupiah : "";
    }

    //function formatRupiah(angka) {
    //    return angka.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //}

    // Fungsi untuk menghitung total harga
    function calculateTotal() {
        let total = 0;
        $(".harga").each(function () {
            let value = $(this).val().replace(/[^,\d]/g, ""); // Menghilangkan format pemisah
            total += parseInt(value) || 0;
        });
        //$("#txtPrice").val("Rp " + formatRupiah(total.toString())); // Tampilkan total dalam format rupiah
        $("#txtPrice").val(formatRupiah(total.toString())); // Tampilkan total dalam format rupiah
    }

    function calculateFinalPrice() {
        let finalPrice = 0;
        let discount = $("#txtDiscount").val().replace(/[^,\d]/g, ""); // Menghilangkan format pemisah
        let totalPrice = $("#txtPrice").val().replace(/[^,\d]/g, ""); // Menghilangkan format pemisah
        finalPrice = totalPrice - discount;
        $("#txtFinalPrice").val(formatRupiah(finalPrice.toString()))
    }

    // Menambah baris baru
    $("#addRow").click(function() {
        let newRow = `<tr>
            <td><input type="text" name="ItemName[]" class="form-control" placeholder="Nama Barang"></td>
            <td><input type="text" name="Price[]" class="form-control harga" placeholder="Harga"></td>
            <td><button type="button" class="btn btn-danger removeRow">Hapus</button></td>
        </tr>`;
        $("#dynamicTable tbody").append(newRow);
    });

    // Menghapus baris
    $(document).on("click", ".removeRow", function() {
        $(this).closest("tr").remove();
    });

    // Format nominal dan hitung total saat mengetik di input harga
    $(document).on("input", ".harga", function () {
        $(this).val(formatRupiah($(this).val()));
        calculateTotal(); // Update total setiap ada perubahan input harga
    });

    //format nominal dan hitung total saat mengetik di input diskon
    $(document).on("input", "#txtDiscount", function () {
        $(this).val(formatRupiah($(this).val()));
        calculateFinalPrice(); // Update total setiap ada perubahan input harga
    });

    // Menyimpan data form dengan AJAX
    $('#dynamicForm').on('submit', function (e) {
        e.preventDefault(); // Mencegah submit default

        let isValid = true;
         // Serialize data untuk dikirim dengan AJAX
        let breakdowncost = [];

        // Validasi setiap input
        $('#dynamicTable tbody tr').each(function () {
            const nama = $(this).find('input[name="ItemName[]"]').val().trim();
            const harga = $(this).find('input[name="Price[]"]').val().trim();

            if (nama === "" || harga === "") {
                isValid = false;
                $(this).addClass('bg-warning'); // Tanda visual baris kosong
            } else {
                $(this).removeClass('bg-warning');
                breakdowncost.push({ ItemName: nama, Price: harga.replace(/[^a-zA-Z 0-9]+/g, "") });
            }
        });
        let formData = new FormData(this);
        formData.append("breakdowncost", JSON.stringify(breakdowncost));
        if (isValid) {
            // Jika valid, kirim data menggunakan AJAX
            $.ajax({
                url: '@Url.Action("SubmitRequest", "LegalPermit", new { area = "HC" })', // Ganti dengan endpoint server Anda
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    var urlReqList = '@Url.Action("RequestList", "LegalPermit", new { area = "HC" })';
                    if (response.status == 1) {
                        swal({
                            title: "Good job",
                            text: "You clicked the button!",
                            type: "success"
                        },
                            function () {
                                window.location.href=urlReqList;
                            }
                        );
                    } else {
                        swal("Failed!", response.msg, "error");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Terjadi kesalahan saat mengirim data: " + error);
                }
            });
        } else {
            alert("Harap isi semua kolom Nama dan Harga.");
        }
    });
});</script>
