
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssHead{
    <link href="@Url.Content("~/Content/tablesorter/theme.metro-dark.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/widgets/widget-output.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#tblBarcodeRackFG").length) {
                $("#tblBarcodeRackFG").tablesorter({
                    theme: 'metro-dark',
                    widthFixed: true,
                    widgets: ['zebra', 'columns', 'filter', 'stickyHeaders', 'output'],
                    widgetOptions: {
                        output_delivery: 'download',
                        output_saveFileName: 'BarcodeRackFG.csv',
                        output_replaceCR: '&amp;'
                    }
                }).tablesorterPager({
                    container: $(".pager"),
                    output: '{startRow} to {endRow} ({totalRows})',
                    size: 50
                });
            }
        });
    </script>
}

<h2>Barcode Rack FG</h2>

<table id="tblBarcodeRackFG" class="tablesorter">
    <thead>
        <tr>
            <th class="filter-select" data-placeholder="-Section ID-">Section ID</th>
            <th class="filter-select" data-placeholder="-Section Name-">Section Name</th>
            <th>Rack No</th>
            <th>Part No</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var BarcodeRackFG in ViewBag.BarcodeList)
        {
            <tr>
                <td>@BarcodeRackFG.SectionID</td>
                <td>@BarcodeRackFG.SectionName</td>
                <td>@BarcodeRackFG.RackNo</td>
                <td>@BarcodeRackFG.PartNo</td>
                <td>@BarcodeRackFG.QTY</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="dark-row">
            <th colspan="5">
                <div class="pager">
                    <button type="button" class="first"><<</button>
                    <button type="button" class="prev"><</button>
                    <span class="pagedisplay"></span>
                    <button type="button" class="next">></button>
                    <button type="button" class="last">>></button>
                    <select class="pagesize" title="Select page size" style="color:black;">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                    </select>
                    <select class="gotoPage" title="Select page number" style="color:black;"></select>
                </div>
            </th>
        </tr>
    </tfoot>
</table>