<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @if (IsSectionDefined("cssHead"))
    {
        @RenderSection("cssHead", required: false)
    }
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @if (IsSectionDefined("scriptHead"))
    {
        @RenderSection("scriptHead", required: false)
    }
</head>
<body>
    <div id="partialNav">
        @Html.Action("mainMenu", "Home", new { area = "" })
        @*@Html.Partial("_LoginPartialNew")*@
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NGK Busi Indonesia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="main-navbar" class="navbar-collapse collapse">
                @Html.Action("mainMenu", "Home", new { area = "" })
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div id="ITSRContent" class="container-fluid body-content">

        @if (IsSectionDefined("sideMenu"))
        {
            <div class="row">
                <div class="col-2">
                    @RenderSection("sideMenu")
                </div>
                <div class="col-10">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NGK Busi Indonesia</p>
        </footer>
    </div>
</body>
</html>
