@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@using NGKBusi.Models;
@using NGKBusi.Areas.FA.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = (ClaimsIdentity)User.Identity;
    DefaultConnection db = new DefaultConnection();
}

@section cssHead{
    <link href="@Url.Content("~/Content/tablesorter/theme.bootstrap_4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .dpDelete, .dpDelete i {
            color: red;
            cursor: pointer
        }

            .dpDelete:hover, .dpDelete i:hover {
                opacity: .95;
            }

        #tblDirectPayment tbody tr:first-child .dpDelete {
            display: none;
        }

        #tblDirectPayment tbody tr:nth-child(0) {
            vertical-align: middle;
        }

        #tblDirectPayment tbody tr td:nth-child(0) {
            min-width: 215px;
        }

        #tblDirectPayment tbody tr td:nth-child(2) {
            min-width: 230px;
        }

        #tblDirectPayment tbody tr td:nth-child(3) {
            min-width: 190px;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .select2-container--default .select2-results__option[aria-disabled=true] {
            display: none;
        }
    </style>
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/widgets/widget-output.min.js")"></script>
    <script src="@Url.Content("~/Scripts/accounting.min.js")"></script>
    <script src="@Url.Content("~/Scripts/printThis/printThis.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".txtPRDate").datepicker({ dateFormat: 'mm/dd/yy' });
            $("#txtTaxInvoiceDate,.txtAllocTaxInvoiceDate").datepicker({ dateFormat: 'mm/dd/yy' });
            $('.tablesorter-childRow td').hide();
            $(".tblPRNPO").tablesorter({
                theme: "bootstrap",

                widthFixed: true,

                // widget code contained in the jquery.tablesorter.widgets.js file
                // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                // the uitheme widget is NOT REQUIRED!
                widgets: ["filter", "columns", "stickyHeaders"],

                widgetOptions: {
                    filter_excludeFilter: {
                        // zero-based column index
                        7: 'range',
                        8: 'range',
                        10: 'range'
                    },
                    // class names added to columns when sorted
                    columns: ["primary", "secondary", "tertiary"],

                    // extra css class name (string or array) added to the filter element (input or select)
                    filter_cssFilter: [
                        'form-control',
                        'form-control',
                        'form-control', // select needs custom class names :(
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control'
                    ],
                    filter_saveFilters: true

                }
            }).tablesorterPager({
                cssGoto: '.pagenum',
                container: $(".ts-pager"),
                output: '{startRow} to {endRow} ({totalRows})',
                size: 10
            });
            $('.tablesorter').delegate('.toggle', 'click', function () {

                $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();

                return false;
            });
            $("#selWHTCode").change(function () {
                if ($(this).val() == "") {
                    $(".divWHTAmount").hide("blind");
                    $("#txtWHTAmount").val("");
                    $("#txtWHTAmount").prop("required", false);
                } else {
                    $("#txtWHTAmount").prop("required", true);
                    $(".divWHTAmount").show("blind");
                }
            });
            $(".btnNonPOSign").click(function () {
                var iNonPOID = $(this).data("id");
                var iApproval = $(this).data("approval");
                var iApprovalSub = $(this).data("approval_sub");

                $("#hfAPNonPOID").val(iNonPOID);
                $("#hfApproval").val(iApproval);
                $("#hfApprovalSub").val(iApprovalSub);
                $("#signModal").modal("show");
            });
            //$(".btnNonPOSign").click(function () {
            //    if (confirm("Sign This Data ?")) {
            //        var currTD = $(this).closest("td");
            //        currTD.LoadingOverlay("show");
            //        $.ajax({
            //            url: "/NGKBusi/FA/PaymentRequest/APNonPOSign",
            //            method: "POST",
            //            tryCount: 0,
            //            tryLimit: 3,
            //            data: {
            //                iNonPOID: $(this).data("id"),
            //                iApproval: $(this).data("approval"),
            //                iApprovalSub: $(this).data("approval_sub")
            //            }, success: function () {
            //                location.reload();
            //            }, error: function (xhr, textStatus, errorThrown) {
            //                if (textStatus === "timeout") {
            //                    this.tryCount++;
            //                    if (this.tryCount <= this.tryLimit) {
            //                        $.ajax(this);
            //                        return;
            //                    }
            //                }
            //                currTD.LoadingOverlay("hide");
            //                alert("Error Occurred, Please Try Again.");
            //            }
            //        });
            //    }
            //});
            $(".btnNonPOReceived").click(function () {
                if (confirm("Receive This Document ?")) {
                    var currTD = $(this).closest("td");
                    currTD.LoadingOverlay("show");
                    $.ajax({
                        url: "/NGKBusi/FA/PaymentRequest/APNonPaymentReceive",
                        method: "POST",
                        tryCount: 0,
                        tryLimit: 3,
                        data: {
                            iNonPOID: $(this).data("id"),
                            iApproval: $(this).data("approval"),
                            iApprovalSub: $(this).data("approval_sub")
                        }, success: function () {
                            location.reload();
                        }, error: function (xhr, textStatus, errorThrown) {
                            if (textStatus === "timeout") {
                                this.tryCount++;
                                if (this.tryCount <= this.tryLimit) {
                                    $.ajax(this);
                                    return;
                                }
                            }
                            currTD.LoadingOverlay("hide");
                            alert("Error Occurred, Please Try Again.");
                        }
                    });
                }
            });

            var latestDueDate = 0;
            $("#txtDueDateFAEdit").change(function () {
                if ($(this).val() == "" || $(this).val() == latestDueDate) {
                    $("#txtDueDateReason").val('');
                    $("#txtDueDateReason").prop("required", false);
                    $("#txtDueDateReason").hide();
                } else {
                    $("#txtDueDateReason").show();
                    $("#txtDueDateReason").prop("required", true);
                }
            });
            $(".btnNonPOEditFA").click(function () {
                var currID = $(this).data("id");
                latestDueDate = $(this).data("duedate").replace(/-/gi, "/");
                var currPaymentMethod = $(this).data("paymentmethod");
                var currWHT = $(this).data("wht");
                var currWHTAmount = $(this).data("whtamount");
                $("#hfPaymentID").val(currID);
                //$("#txtDueDateFAEdit").val($.datepicker.formatDate('mm/dd/yy', new Date(latestDueDate)));
                $(".rbPaymentMethod[value='" + currPaymentMethod + "']").prop("checked", true);
                if (currWHTAmount > 0) {
                    $("#selWHTCode").val(currWHT);
                    $("#txtWHTAmount").val(currWHTAmount);
                    $("#txtWHTAmount").prop("required", true);
                    $(".divWHTAmount").show("blind");
                }
                $("#nonPOFAEditModal").modal("show");
            });

            $(".thDebitTotal").each(function () {
                var currTable = $(this).closest("table");
                var currTotal = 0;
                $(".tdDebit", currTable).each(function () {
                    var value = accounting.unformat($(this).text());
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        currTotal += parseFloat(value);
                    }
                });
                $(this).text(accounting.formatNumber(currTotal, 2));
            });
            $(".thCreditTotal").each(function () {
                var currTable = $(this).closest("table");
                var currTotal = 0;
                $(".tdCredit", currTable).each(function () {
                    var value = accounting.unformat($(this).text());
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        currTotal += parseFloat(value);
                    }
                });
                $(this).text(accounting.formatNumber(currTotal, 2));
            });

            $(".btnNonPOReturn").click(function () {
                var currID = $(this).data("id");
                $("#hfReturnID").val(currID);
                $("#returnModal").modal();
            });

            $(".rbPaymentType").change(function () {
                $(".divDirectPayment").show("blind");
                $(".divSettlementFor").hide();
                if ($(this).val() == "Pre-Payment") {
                    $(".divDirectPayment").hide("blind");
                    $("#tblDirectPayment tbody").find("input").prop("required", false);
                    $("#tblDirectPayment tbody").find("textarea").prop("required", false);
                    $("#tblDirectPayment tbody").find(".select2").prop("required", false);
                    $("#selSettlementFor").prop("required", false);
                } else {
                    $(".divDirectPayment").show("blind");
                    $("#tblDirectPayment tbody").find("textarea").prop("required", true);
                    $("#tblDirectPayment tbody").find("input:not(.txtAllocTaxInvoiceDate):not(.txtAllocTaxInvoiceNumber):not(.txtCreditAmount):not(.txtCreditAmountHolder)").prop("required", true);
                    $("#tblDirectPayment tbody").find(".select2").prop("required", true);
                    if ($(this).val() == "Settlement") {
                        $(".divSettlementFor").show();
                        //$("#selSettlementFor").prop("required", true);
                    }
                }
            });

            $("#selSettlementFor").change(function () {
                var currency = $(this).find(':selected').data("currency");
                var thirdparty = $(this).find(':selected').data("thirdparty");
                var amount = $(this).find(':selected').data("amount");
                $("#selVendor").val(thirdparty).change();
                $("#selCurrency").val(currency);
                $("#txtInvoiceAmount").val(accounting.formatNumber(amount, 2));
            });
            $("#selVATRate").change(function () {
                if ($(this).val() == "0") {
                    $(".divTaxInvoiceNumber,.divTaxInvoiceDate").hide("blind");
                    $("#txtTaxInvoiceNumber,#txtTaxInvoiceDate").val("");
                   //$("#txtTaxInvoiceNumber,#txtTaxInvoiceDate").prop("required", false);
                } else {
                    //$("#txtTaxInvoiceNumber,#txtTaxInvoiceDate").prop("required", true);
                    $(".divTaxInvoiceNumber,.divTaxInvoiceDate").show("blind");
                }
            });

            var newRowIndex = 0;
            $("#btnDPAdd").click(function () {
                newRowIndex++;
                var newRow = $("#tblDirectPayment tbody tr:first()").clone();
                newRow.find("input").val("");
                newRow.find("textarea").val("");
                newRow.find(".select2-container").remove();
                newRow.find(".select2").select2();
                newRow.find(".selAllocVATRate").hide();
                newRow.find(".selAllocVATRate").prop("required", false);
                newRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + newRowIndex);
                newRow.find(".txtAllocTaxInvoiceDate").hide();
                newRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + newRowIndex);
                newRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                newRow.find(".txtAllocTaxInvoiceNumber").hide();
                newRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                newRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + newRowIndex);
                $("#tblDirectPayment tbody").append(newRow);
            });

            $(document).on("change", ".selCOA", function () {
                currTD = $(this).closest("td");
                if ($(this).val() == "1851104|Prepaid Tax - VAT IN") {
                    currTD.find(".selAllocVATRate").show();
                    currTD.find(".txtAllocTaxInvoiceDate").show();
                    currTD.find(".txtAllocTaxInvoiceNumber").show();
                    currTD.find(".selAllocVATRate").prop("required", true);
                } else {
                    currTD.find(".selAllocVATRate").hide();
                    currTD.find(".selAllocVATRate").val("");
                    currTD.find(".txtAllocTaxInvoiceDate").hide();
                    currTD.find(".txtAllocTaxInvoiceDate").val("");
                    currTD.find(".txtAllocTaxInvoiceNumber").hide();
                    currTD.find(".txtAllocTaxInvoiceNumber").val("");
                    currTD.find(".selAllocVATRate").prop("required", false);
                }
            });
            $(document).on("click", ".dpDelete", function () {
                if (confirm("Are you sure want to delete this data ?")) {
                    $(this).closest("tr").remove();
                    totalAlloc();
                }
            });
            $(document).on("keyup", ".txtAllocationAmount", function () {
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }
                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39, 188, 190]) !== -1) {
                    return;
                }
                var $this = $(this);
                // Get the value.
                var input = $this.val().replace(/(?!\.)\D/g, "").replace(/(?<=\..*)\./g, "").replace(/(?<=\.\d\d).*/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $this.val(input);
                $(this).parent().find(".txtAllocationAmountHolder").val(accounting.unformat(input));
                totalAlloc();
            });
            function totalAlloc() {
                var totalAllocation = 0;
                $(".txtAllocationAmount").each(function () {
                    totalAllocation += accounting.unformat($(this).val()) || 0;
                });
                $("#tdTotalAllocation").text(accounting.formatNumber(totalAllocation, 2));
            }


            $("#txtInvoiceAmount").on("keyup", function (event) {
                // When user select text in the document, also abort.
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }
                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39, 188, 190]) !== -1) {
                    return;
                }
                var $this = $(this);
                // Get the value.
                var input = $this.val().replace(/(?!\.)\D/g, "").replace(/(?<=\..*)\./g, "").replace(/(?<=\.\d\d).*/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $this.val(input);
            });
            $("#txtTaxInvoiceNumber").inputmask("999.999-99.99999999");
            $(".btnNPOSubmit").click(function (e) {
                var InvoiceAmount = accounting.unformat($("#txtInvoiceAmount").val()) || 0;
                var TotalAllocation = accounting.unformat($("#tdTotalAllocation").text()) || 0;
                var VAT = $("#selVATRate").val() != "" ? accounting.unformat($("#selVATRate").val()) : 0;
                var VATAmount = VAT > 0 ? Math.round(accounting.unformat((TotalAllocation / 100) * VAT, 10)) : 0;
                if (InvoiceAmount != parseFloat(TotalAllocation.toFixed(2), 10) + parseFloat(VATAmount.toFixed(2), 10)) {
                    e.preventDefault();
                    $(".spanInvoiceAmount").text("Rp. " + parseFloat(InvoiceAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    $(".spanAllocation").text("Rp. " + parseFloat(TotalAllocation, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    $(".spanVAT").text(VAT);
                    $(".spanVATAmount").text("Rp. " + parseFloat(VATAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    $(".spanGrandTotal").text("Rp. " + parseFloat(parseFloat(TotalAllocation.toFixed(2), 10) + parseFloat(VATAmount.toFixed(2), 10), 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    $("#calculateModal").modal();
                }
            });

            $(".btnNPOCancel").click(function () {
                $("#divNonPOForm").hide("blind");
            });

            $(".btnNonPOEdit,.btnNonPOCopy").click(function () {
                var currID = $(this).data("id");
                var currMode = $(this).data("mode");
                var currCTR = $(this);
                currCTR.LoadingOverlay("show");
                $.ajax({
                    url: "/NGKBusi/FA/PaymentRequest/NonPaymentEditData",
                    method: "POST",
                    tryCount: 0,
                    tryLimit: 3,
                    data: {
                        iNonPOID: currID
                    }, success: function (data) {
                        $("#txtEntryDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(data[0].Entry_Date.substr(6)))));
                        $("#formNonPO").attr("action", $("#formNonPO").data("edit"));
                        $(".divReceiveNumber").show();
                        $("#txtRecNumber").val(data[0].Receive_Number);
                        $("#hfNonPOID").val(currID);
                        $("#selCurrency").val(data[0].Currency_Code);
                        $("#selSection").val(data[0].Section_From_Code + "|" + data[0].Section_From_Name).change();
                        $("#txtInvoiceNumber").val(data[0].Invoice_Number);
                        $("#selVendor").val(data[0].Third_Party_Id + "|" + data[0].Third_Party_Name).change();
                        $("#txtInvoiceAmount").val(accounting.formatNumber(data[0].Amount_of_Invoice, 2));
                        $("#txtDescription").val(data[0].Description);
                        $(".rbPaymentType[value='" + data[0].Payment_Type + "']").prop("checked", true).change();
                        $(".rbPaymentMethod[value='" + data[0].Payment_Method + "']").prop("checked", true).change();
                        //$("#selVATRate").val(data[0].VAT).change();
                        //if (data[0].Tax_Date != null) {
                        //    $("#txtTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(data[0].Tax_Date.substr(6)))));
                        //} else {
                        //    $("#txtTaxInvoiceDate").val("");
                        //}
                        //$("#txtTaxInvoiceNumber").val(data[0].Tax_Number);
                        $("#tblDirectPayment tbody tr:not(:first)").remove();
                        var subRow = $("#tblDirectPayment tbody tr:first()");
                        var newRow = subRow.clone();

                        //$(".divNonPaymentType").hide();
                        //if ($("#hfUserDivName").val() == "ACCOUNTING & IT") {
                            //$(".divNonPaymentType").show();
                            $(".rbNonPaymentType[value='" + data[0].Type + "']").prop("checked", true).trigger("change");
                            $(".selBank").val(data[0].Bank).change();
                        //}
                        $(".selCOATo").val(data[0].Coa_Code + "|" + data[0].Coa_Name).change();
                        //if (data[0].Type == "Memorial") {
                        //    $(".tMemorial").each(function () {
                        //        $(this).show();
                        //    });
                        //} else {
                        //    $(".tMemorial").each(function () {
                        //        $(this).hide();
                        //    });
                        //}

                        $(data[0].Non_PO_Sub).each(function (i, el) {
                            newRowIndex++;
                            var currRow = subRow;
                            if (i != 0) {
                                currRow = newRow.clone();
                            }
                            currRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + i);
                            currRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + i);
                            currRow.find(".cbIsCredit").attr("id", "cbIsCredit" + i);
                            currRow.find(".hfIsCredit").attr("id", "hfIsCredit" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                            currRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                            currRow.find("input").val("");
                            currRow.find("textarea").val("");
                            currRow.find(".select2-container").remove();
                            currRow.find(".selSectionTo").val(el.Section_To_Code + "|" + el.Section_To_Name).change();
                            currRow.find(".txtAllocationAmount").val(accounting.formatNumber(el.Allocation_Amount, 2));
                            currRow.find(".txtAllocationAmountHolder").val(el.Allocation_Amount);
                            currRow.find(".txtCreditAmount").val(accounting.formatNumber(el.Credit_Amount, 2));
                            currRow.find(".txtCreditAmountHolder").val(el.Credit_Amount);
                            currRow.find(".selCOA").val(el.COA_Code + "|" + el.COA_Name).change();
                            currRow.find(".selProcate").val(el.Procate_Code + "|" + el.Procate_Name).change();
                            currRow.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                            currRow.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + el.Section_To_Code + "']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + (el.Budget_Number == "UNB" ? "ALL" : el.Section_To_Code) + "'][value='" + el.Budget_Number + "|" + el.Budget_Desc.replace(/(['])/g, "\\$1") + "']").prop("selected", true);
                            currRow.find(".txtAllocationDesc").val(el.Description);
                            currRow.find(".selAllocVATRate").val(el.VAT || "");
                            if (el.Tax_Date) {
                                currRow.find(".txtAllocTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(el.Tax_Date.substr(6)))));
                            }
                            currRow.find(".txtAllocTaxInvoiceNumber").val(el.Tax_Number);
                            if (i != 0) {
                                $("#tblDirectPayment tbody").append(currRow);
                            }
                            if (currRow.find(".selCOA").val() == "1851104|Prepaid Tax - VAT IN") {
                                currRow.find(".selAllocVATRate").show();
                                currRow.find(".txtAllocTaxInvoiceDate").show();
                                currRow.find(".txtAllocTaxInvoiceNumber").show();
                                currRow.find(".selAllocVATRate").prop("required", true);
                            }

                            currRow.find(".select2").select2();
                        });
                        totalAlloc();
                        $("#divNonPOForm").show("blind");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        currCTR.LoadingOverlay("hide");
                    }, error: function (xhr, textStatus, errorThrown) {
                        if (textStatus === "timeout") {
                            this.tryCount++;
                            if (this.tryCount <= this.tryLimit) {
                                $.ajax(this);
                                return;
                            }
                        }
                        currCTR.LoadingOverlay("hide");
                        alert("Error Occurred, Please Try Again.");
                    }
                });
            });

            $(".cbCheckID").change(function () {
                var checkID = [];
                $(".cbCheckID:checked").each(function (i, e) {
                    checkID.push($(this).val());
                });
                if (checkID.length > 0) {
                    $(".btnCheckDownload,.btnCheckPrint").prop("disabled", false);
                } else {
                    $(".btnCheckDownload,.btnCheckPrint").prop("disabled", true);
                }
                $("#hfCheckDownloadID").val(checkID);
            });
            $(".btnCheckPrint").click(function () {
                var checkID = [];
                $(".cbCheckID:checked").each(function (i, e) {
                    checkID.push($(this).val());
                });
                var currCTR = $(this);
                currCTR.LoadingOverlay("show");
                $.ajax({
                    url: "/NGKBusi/FA/PaymentRequest/FANonPaymentPrint",
                    method: "POST",
                    tryCount: 0,
                    tryLimit: 3,
                    data: {
                        iNonPOID: checkID.join()
                    }, success: function (data) {
                        $(".cbCheckID:checked").each(function (i, e) {
                            $(this).prop("checked", false);
                        });
                        $("#printModal .modal-body").empty(data);
                        $("#printModal .modal-body").append(data);
                        $("#printModal").modal("show");
                        currCTR.prop("disabled", true);
                        $(".btnCheckDownload").prop("disabled", true);
                        currCTR.LoadingOverlay("hide");
                    }, error: function (xhr, textStatus, errorThrown) {
                        if (textStatus === "timeout") {
                            this.tryCount++;
                            if (this.tryCount <= this.tryLimit) {
                                $.ajax(this);
                                return;
                            }
                        }
                        currCTR.LoadingOverlay("hide");
                        alert("Error Occurred, Please Try Again.");
                    }
                });
            });
            $(".btnPrintJournal").click(function () {
                $(".tblJournal").printThis();
            });
            //$(".btnCheckDownload").click(function () {
            //    $(".cbCheckID:checked").each(function (i, e) {
            //        $(this).prop("checked", false);
            //    });
            //    $(".btnCheckDownload").prop("disabled", true);
            //    $(".btnCheckPrint").prop("disabled", true);
            //});

            $("#selAPNPOFilterStatus,#selAPNPOFilterYear").change(function () {
                $(".btnAPNPOFilter").click();
            });

            $(".rbNonPaymentType").change(function () {
                if ($(this).val() == "Memorial") {
                    //$(".divCOATo").show("blind");
                    $(".selCOATo").val("3195101|Accrued Expense").change();
                    $(".selBank").val("").change();
                    $(".selBank").prop("required", false);
                    $(".divBank").hide();
                    $(".tMemorial input").val(0);
                    $(".tMemorial .txtCreditAmount").prop("required", true);
                    $(".tMemorial").show();
                    $(".btnNonPOUpload").show();
                    $(".divSettlementFor").hide();
                    $("#selSettlementFor").prop("required", false);
                } else if ($(this).val() == "Auto-Debit") {
                    $(".divCOATo").hide();
                    $(".selCOATo").val("3195101|Accrued Expense").change();
                    $(".divBank").show("blind");
                    $(".selBank").prop("required", true);
                    $(".selBank").val("").change();
                    $(".tMemorial input").val(0);
                    $(".tMemorial .txtCreditAmount").prop("required", false);
                    $(".tMemorial").hide();
                    $(".btnNonPOUpload").hide();
                    $(".divSettlementFor").hide();
                    $("#selSettlementFor").prop("required", false);
                } else if ($(this).val() == "Settlement") {
                    $(".divCOATo").hide();
                    $(".selCOATo").val("3195101|Accrued Expense").change();
                    $(".divBank").hide();
                    $(".selBank").prop("required", true);
                    $(".selBank").val("").change();
                    $(".tMemorial input").val(0);
                    $(".tMemorial .txtCreditAmount").prop("required", false);
                    $(".tMemorial").hide();
                    $(".btnNonPOUpload").hide();
                    $(".divSettlementFor").show();
                    $("#selSettlementFor").prop("required", true);
                } else {
                    $(".divCOATo").hide();
                    $(".selCOATo").val("3195101|Accrued Expense").change();
                    $(".divBank").hide();
                    $(".selBank").prop("required", false);
                    $(".selBank").val("").change();
                    $(".tMemorial input").val(0);
                    $(".tMemorial .txtCreditAmount").prop("required", false);
                    $(".tMemorial").hide();
                    $(".btnNonPOUpload").hide();
                    $(".divSettlementFor").hide();
                    $("#selSettlementFor").prop("required", false);
                }
            });

            $(document).on("change", ".selSectionTo", function () {
                var ctr = $(this);
                var currTR = $(this).closest("tr");
                currTR.find(".selBudgetNumber").val("");
                currTR.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                currTR.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                currTR.find(".selBudgetNumber option[data-dept-to ='" + ctr.find(":selected").data("dept-code") + "']").prop("disabled", false);
                currTR.find(".selBudgetNumber").select2();
            });

            $(document).on("change", ".selBudgetNumber", function () {
                var coa = $(this).find(':selected').data("coa-code");
                if ($(this).val() != "" || $(this).val() != "UNB|Unbudgeted" || $(this).val() != undefined) {
                    $(this).closest("tr").find(".selCOA").val(coa).change();
                }
            });
        });
    </script>
}
<h2>
    FA - E_Voucher Non Payment
</h2>
<hr />
<input type="hidden" id="hfUserDivName" value="@(currUser.FindFirst("divName").Value)" />
<div class="divNPOFilter">
    <form action="@Url.Action("FANonPayment", "PaymentRequest", new { area = "FA" })" method="post">
        <select id="selAPNPOFilterYear" class="form-control" name="iAPNPOFilterYear">
            <option value="">-Year-</option>
            @for (var i = 2020; i <= (DateTime.Now.Month == 12 ? DateTime.Now.AddYears(1).Year : DateTime.Now.Year); i++)
            {
                <option value="@(i)" @(ViewBag.currFilterYear == i.ToString() ? "Selected" : "")>@(i)</option>
            }
        </select>
        <select id="selAPNPOFilterStatus" class="form-control" name="iAPNPOFilterStatus">
            <option value="">-Status-</option>
            <option value="All" @(ViewBag.currFilterStatus == "All" ? "Selected" : "")>All</option>
            <option value="Signed" @(ViewBag.currFilterStatus == "Signed" ? "Selected" : "")>Signed</option>
            <option value="Open" @(ViewBag.currFilterStatus == "Open" ? "Selected" : "")>Open</option>
        </select>
        <button type="submit" class="btnAPNPOFilter" style="display:none;">Submit</button>
    </form>
</div>
<hr />
<div id="divNonPOForm" style="display:none;">
    <form id="formNonPO" action="@Url.Action("NonPaymentAdd", "PaymentRequest", new { area = "FA" })" data-add="@Url.Action("NonPaymentAdd", "PaymentRequest", new { area = "FA" })" data-edit="@Url.Action("NonPaymentEdit", "PaymentRequest", new { area = "FA" })" class="form-horizontal" method="post">
        <div class="form-group row">
            <label for="entryDate" class="control-label col-3 text-right font-weight-bold">Entry Date:</label>
            <div class="col-9">
                <input type="text" class="form-control txtPRDate" autocomplete="off" placeholder="Entry Date" name="iEntryDate" id="txtEntryDate" value="@(DateTime.Now.ToString("MM/dd/yyyy"))" required>
            </div>
        </div>
        <div class="form-group row divReceiveNumber" style="display:none;">
            <label for="receiveNumber" class="control-label col-3 text-right font-weight-bold">Copy From:</label>
            <div class="col-9">
                <input type="text" class="form-control txtRecNumber" placeholder="Receive Number" name="iReceiveNumber" id="txtRecNumber" disabled>
                <input type="hidden" id="hfNonPOID" name="iNonPOID" value="" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold">Section From:</label>
            <div class="col-9">
                <select id="selSection" name="iSection" class="form-control" required disabled>
                    <option value="">-Section-</option>
                    @foreach (var item in ViewBag.Section)
                    {
                        <option value="@(item.Section_Code + "|" + item.Section_Name)" @(item.Section_Code == ViewBag.PayUser.Section_ID ? "selected" : "")>@(item.Section_Code + " | " + item.Section_Name)</option>
                    }
                </select>
                <select id="selSectionFrom" name="iSectionFrom" class="form-control" style="display:none;">
                    <option value="">-Section-</option>
                    @foreach (var item in ViewBag.Section)
                    {
                        <option value="@(item.Section_Code + "|" + item.Section_Name)" @(item.Section_Code == ViewBag.PayUser.Section_ID ? "selected" : "")>@(item.Section_Code + " | " + item.Section_Name)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row d-none">
            <label for="invoiceNumber" class="control-label col-3 text-right font-weight-bold">Invoice Number:</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Invoice Number" name="iInvoiceNumber" id="txtInvoiceNumber">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold">Third Party:</label>
            <div class="col-9">
                <select id="selVendor" name="iVendor" class="form-control select2" style="width:100%;" required>
                    <option value="">-Third Party-</option>
                    @foreach (var item in ViewBag.ThirdParty)
                    {
                        <option value="@(item.ACCOUNTNUM + "|" + item.Name)">@(item.ACCOUNTNUM + " | " + item.Name)</option>
                    }
                    <option value="Bank|Auto Debit">Bank | Auto Debit</option>
                    <option value="Memorial|Memorial Journal">Memorial | Memorial Journal</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold">Currency:</label>
            <div class="col-9">
                <select id="selCurrency" name="iCurrency" class="form-control" required>
                    <option value="">-Currency-</option>
                    @foreach (var item in ViewBag.Currency)
                    {
                        <option value="@(item.CURRENCY_CODE)">@(item.CURRENCY_CODE + " | " + item.TXT)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold">Amount:</label>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Amount" name="iInvoiceAmount" id="txtInvoiceAmount" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold">Description:</label>
            <div class="col-9">
                <textarea class="form-control" placeholder="Description" name="iDescription" id="txtDescription" maxlength="60" rows="2" required></textarea>
            </div>
        </div>
        <div class="form-group row divNonPaymentType">
            <label class="control-label col-3 text-right font-weight-bold">Non Payment Type:</label>
            <div class="col-9">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbNonPaymentType" name="iNonPaymentType" value="Non-Payment" checked required>Accrued
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbNonPaymentType" name="iNonPaymentType" value="Memorial" required>Memorial
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbNonPaymentType" name="iNonPaymentType" value="Auto-Debit" required>Auto Debit
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbNonPaymentType" name="iNonPaymentType" value="Settlement" required>Settlement
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row divCOATo" style="display:none;">
            <label class="control-label col-3 text-right font-weight-bold">Chart of Account:</label>
            <div class="col-9">
                <select name="iCOATo" class="form-control select2 selCOATo" style="width:100%" required>
                    <option value="">-COA-</option>
                    @foreach (var item in ViewBag.COATo)
                    {
                        <option value="@(item.MAINACCOUNTID + "|" + item.NAME)" @(item.MAINACCOUNTID == "3195101" ? "selected" : "")>@(item.MAINACCOUNTID + " | " + item.NAME)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row divBank" style="display:none;">
            <label class="control-label col-3 text-right font-weight-bold">Bank:</label>
            <div class="col-9">
                <select name="iBank" class="form-control select2 selBank" style="width:100%">
                    <option value="">-Bank-</option>
                    <option value="BRP-IDR">BRP-IDR</option>
                    <option value="BRP-USD">BRP-USD</option>
                    <option value="BRP-JPY">BRP-JPY</option>
                    <option value="BTMU-IDR">BTMU-IDR</option>
                    <option value="BTMU-USD">BTMU-USD</option>
                    <option value="BTMU-JPY">BTMU-JPY</option>
                    <option value="BCA-IDR">BCA-IDR</option>
                    <option value="BNI-IDR">BNI-IDR</option>
                    <option value="SMI-IDR">SMI-IDR</option>
                    <option value="SMI-JPY">SMI-JPY</option>
                </select>
            </div>
        </div>
        <div class="form-group row d-none">
            <label for="DueDate" class="control-label col-3 text-right font-weight-bold">Due Date:</label>
            <div class="col-9">
                <input type="text" class="form-control txtPRDate" autocomplete="off" placeholder="Due Date" name="iEntryDueDate" id="txtDueDate">
            </div>
        </div>
        <div class="form-group row d-none">
            <label class="control-label col-3 text-right font-weight-bold">Payment Type:</label>
            <div class="col-9">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbPaymentType" name="iPaymentType" value="Non-Payment" checked required>Non Payment
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row divSettlementFor" style="display:none;">
            <label for="receiveNumber" class="control-label col-3 text-right font-weight-bold">Settlement For:</label>
            <div class="col-9">
                <select id="selSettlementFor" name="iSettlementFor" class="form-control select2" style="width:100%;">
                    <option value="">-Settlement-</option>
                </select>
            </div>
        </div>
        <div class="upload-wrap" style="display:none;">
            <h3>Uploading...Please Wait..</h3>
            <div class="progress">
                <div class="uploadProgress progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <hr />
        </div>
        <div class="form-group row divDirectPayment" style="overflow:auto;max-height:1024px;">
            <div class="col-12">
                <table id="tblDirectPayment" class="table">
                    <thead>
                        <tr>
                            <th class="align-middle">Section To</th>
                            <th class="align-middle">Chart of Account</th>
                            <th class="align-middle">Procate</th>
                            <th class="align-middle">Budget Number</th>
                            <th class="align-middle">Description <button type="button" class="btn btn-info btnNonPOUpload d-inline-block ml-2" style="display:none;" data-toggle="modal" data-target="#modalUpload">Upload</button></th>
                            <th class="align-middle">Debit</th>
                            <th class="align-middle tMemorial" style="display:none;">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="iSectionTo[]" class="form-control select2 selSectionTo" style="width:100%" required>
                                    <option value="">-Section-</option>
                                    @foreach (var item in ViewBag.Section)
                                    {
                                        <option data-dept-code="@(item.Section_Code)" value="@(item.Section_Code + "|" + item.Section_Name)">@(item.Section_Code + " | " + item.Section_Name)</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="iCOA[]" class="form-control select2 selCOA" style="width:100%" required>
                                    <option value="">-COA-</option>
                                    @foreach (var item in ViewBag.COA)
                                    {
                                        <option value="@(item.MAINACCOUNTID + "|" + item.NAME)">@(item.MAINACCOUNTID + " | " + item.NAME)</option>
                                    }
                                </select>
                                <select name="iAllocVATRate[]" class="form-control selAllocVATRate" style="display:none;">
                                    <option value="">NON VAT</option>
                                    <option value="1">VAT 1%</option>
                                    <option value="1.1">VAT 1.1%</option>
                                    <option value="1.2">VAT 1.2%</option>
                                    <option value="10">VAT 10%</option>
                                    <option value="11">VAT 11%</option>
                                    <option value="12">VAT 12%</option>
                                </select>
                                <input type="text" class="form-control txtAllocTaxInvoiceDate" placeholder="Tax Invoice Date" name="iAllocTaxInvoiceDate[]" style="display:none;" autocomplete="off">
                                <input type="text" class="form-control txtAllocTaxInvoiceNumber" placeholder="Tax Invoice Number" name="iAllocTaxInvoiceNumber[]" style="display:none;">
                            </td>
                            <td>
                                <select name="iProcate[]" class="form-control select2 selProcate" style="width:100%" required>
                                    <option value="">-Procate-</option>
                                    @foreach (var item in ViewBag.Procate)
                                    {
                                        <option value="@(item.Procate_Code + "|" + item.Procate_Name)">@(item.Procate_Code + " | " + item.Procate_Name)</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="iBudgetNumber[]" class="form-control select2 selBudgetNumber" style="width:100%" required>
                                    <option value="">-Bgt. Number-</option>
                                    @foreach (var item in ViewBag.Budget)
                                    {
                                        <option data-dept-to="@( item.Section_To_Code )" data-coa-code="@(item.COA_Code + "|" + item.COA_Name)" data-budget-no="@( item.Budget_No )" disabled value="@(item.Budget_No + "|" + item.Description)">@(item.Budget_No + " | " + item.Description)</option>
                                    }
                                    <option data-dept-to="ALL" data-budget-no="UNB" disabled value="@("UNB|Unbudgeted")">@("UNB | Unbudgeted")</option>
                                </select>
                            </td>
                            <td style="min-width:350px;">
                                <textarea class="form-control txtAllocationDesc" maxlength="60" rows="1" placeholder="Description" name="iAllocationDesc[]" required></textarea>

                            </td>
                            <td style="min-width:200px;">
                                <input type="text" class="form-control txtAllocationAmount" placeholder="Allocation Amount" required>
                                <input type="text" class="form-control d-none txtAllocationAmountHolder" placeholder="Allocation Amount" name="iAllocationAmount[]">
                            </td>
                            <td class="tMemorial" style="min-width:200px;display:none;">
                                <input type="text" class="form-control txtCreditAmount" placeholder="Credit Amount">
                                <input type="text" class="form-control d-none txtCreditAmountHolder" placeholder="Credit Amount" name="iCreditAmount[]">
                            </td>
                            <td>
                                <a class="dpDelete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total Allocation</td>
                            <td id="tdTotalAllocation"></td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <button id="btnDPAdd" type="button" class="btn btn-sm btn-success form-control"><i class="fas fa-plus"></i></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="form-group row d-none">
            <label class="control-label col-3 text-right font-weight-bold">VAT Rate:</label>
            <div class="col-9">
                <select id="selVATRate" name="iVATRate" class="form-control">
                    <option value="0">NON VAT</option>
                    <option value="1">VAT 1%</option>
                    <option value="1.1">VAT 1.1%</option>
                    <option value="10">VAT 10%</option>
                    <option value="11">VAT 11%</option>
                    <option value="12">VAT 12%</option>
                </select>
                <div class="form-group row divTaxInvoiceDate mt-2" style="display:none;">
                    <label class="control-label col-3 text-right font-weight-bold">Tax Invoice Date:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Tax Invoice Date" name="iTaxInvoiceDate" id="txtTaxInvoiceDate" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row divTaxInvoiceNumber mt-2" style="display:none;">
                    <label class="control-label col-3 text-right font-weight-bold">Tax Invoice Number:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Tax Invoice Number" name="iTaxInvoiceNumber" id="txtTaxInvoiceNumber">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row d-none">
            <label class="control-label col-3 text-right font-weight-bold">Payment Method:</label>
            <div class="col-9">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Cash" required>Cash
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Transfer" checked required>Transfer
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-3 col-3">
                <button type="button" class="btn btn-secondary form-control btnNPOCancel">Cancel</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control btnNPOSubmit">Submit</button>
            </div>
        </div>
    </form>
    <hr />
</div>

<div class="modal fade" id="calculateModal" tabindex="-1" role="dialog" aria-labelledby="calculateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Calculate Total</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>We're sorry, your <span style="color:red;">Total Amount</span> and <span style="color:red;">Amount of Invoice</span> is <span style="color:red;">not match!!</span></h5>
                <br /><br />
                <label class="font-weight-bold">Allocation Amount: </label> <span class="spanAllocation">0</span><br />
                <label class="font-weight-bold">VAT (<span class="spanVAT">0</span>%) : </label> <span class="spanVATAmount">0</span><br />
                <hr />
                <label class="font-weight-bold">Total Amount : </label> <span class="spanGrandTotal">0</span>
                <hr />
                <label class="font-weight-bold">Amount of Invoice : </label> <span class="spanInvoiceAmount">0</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<table class="tblPRNPO table table-striped">
    <thead>
        <tr>
            <th>Receive Number</th>
            <th>Entry Date</th>
            <th>Section From</th>
            <th>Third Party</th>
            <th class="filter-select" data-placeholder="Select">Currency</th>
            <th>Amount</th>
            <th>Created By</th>
            <th class="filter-select" data-placeholder="Select">Status</th>
            <th class="filter-false sorter-false text-center">
                @*<form action="@Url.Action("NonPOPrintAP", "PaymentRequest", new { area = "FA" })" class="d-inline-block" method="post">*@
                @*<input type="hidden" name="iPrintID" id="hfCheckPrintID" />*@
                <button type="button" class="btn btn-sm btn-warning btnCheckPrint" data-toggle="tooltip" title="Print" disabled><i class="fas fa-print"></i></button>
                @*</form>*@

                <form action="@Url.Action("NonPaymentDownloadFA", "PaymentRequest", new { area = "FA" })" class="d-inline-block" method="post">
                    <input type="hidden" name="iDownloadID" id="hfCheckDownloadID" />
                    <button type="submit" class="btn btn-sm btn-primary btnCheckDownload" data-toggle="tooltip" title="Download" disabled><i class="fas fa-download"></i></button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.NonPOList)
        {
            var currID = (int)item.id;
            var nonPOSub = db.FA_Payment_Request_Non_Payment_Sub.Where(w => w.Non_PO_ID == currID).ToList();
            var nonPOSubCredit = db.FA_Payment_Request_Non_Payment_Sub.Where(w => w.Non_PO_ID == currID && w.Credit_Amount > 0).ToList();
            var TotalAllocation = db.FA_Payment_Request_Non_Payment_Sub.Where(w => w.Non_PO_ID == currID).ToList().Sum(s => s.Allocation_Amount);
            <tr>
                <td class="text-nowrap">
                    <input type="checkbox" name="iCheckID" class="cbCheckID" value="@(item.id)" />
                    <a href="#" class="toggle"> @(item.Receive_Number)</a>
                </td>
                <td class="text-nowrap">@( item.Entry_Date.ToString("dd-MM-yyyy"))</td>
                <td>@( "(" + item.Section_From_Code + ") " + item.Section_From_Name)</td>
                <td>@( "(" + item.Third_Party_Id + ") " + item.Third_Party_Name)</td>
                <td class="text-center">@(item.Currency_Code)</td>
                <td class="text-right">@(item.Amount_of_Invoice.ToString("N2"))</td>
                <td>@(item.Users.Name)</td>
                <td>
                    @(PaymentRequestController.ApprovalStatus(item.Approval, item.Approval_Sub, item.Is_Reject, item.Amount_of_Invoice))
                </td>
                <td class="text-nowrap text-center">
                    @*@if (item.Approval == 4 && item.Approval_Sub <= 3)
                        {
                            <button class="btn btn-sm btn-warning btnNonPOEditFA" data-toggle="tooltip" title="Edit" data-id="@(item.id)" data-wht="" data-whtamount="" data-paymentmethod=""><i class="fas fa-edit"></i></button>
                        }*@
                    <button class="btn btn-sm btn-warning btnNonPOEdit" data-toggle="tooltip" title="Edit User Input" data-id="@(item.id)"><i class="fas fa-user-edit"></i></button>
                    @*<form action="@Url.Action("NonPODownloadAP", "PaymentRequest", new { area = "FA" })" class="d-inline-block" method="post">
                            <input type="hidden" name="iDownloadID" value="@(item.id)" />
                            <button type="submit" class="btn btn-sm btn-primary btnWithPODownload" data-toggle="tooltip" title="Download" data-id="@(item.id)"><i class="fas fa-file-download"></i></button>
                        </form>*@
                    @if (item.Approval == 4 && item.Approval_Sub <= 3)
                    {
                        <hr class="m-1" />
                        if (item.Approval_Sub <= 1)
                        {
                            <button class="btn btn-sm btn-success btnNonPOReceived" data-toggle="tooltip" title="Receive" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-file-alt"></i></button>
                        }
                        <button class="btn btn-sm btn-primary btnNonPOSign" data-toggle="tooltip" title="Sign" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-file-signature"></i></button>
                        <button class="btn btn-sm btn-warning btnNonPOReturn" data-toggle="tooltip" title="Return" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-undo"></i></button>
                    }
                </td>
            </tr>

            <tr class="tablesorter-childRow">
                <td colspan="9">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Bgt. Number</th>
                                <th>Description</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subItem in nonPOSub)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='" + subItem.COA_Name + "'>" + subItem.COA_Code.Trim() + "</span>" + "--" + "<span title='" + subItem.Procate_Name + "'>" + subItem.Procate_Code + "</span>" + "-" + "<span title='" + subItem.Section_To_Name + "'>" + subItem.Section_To_Code + "</span>")</td>
                                    <td>@("(" + subItem.Budget_Number + ")" + subItem.Budget_Desc)</td>
                                    <td>@(subItem.Description)</td>
                                    <td class="tdDebit">@(subItem.Allocation_Amount.ToString("N2"))</td>
                                    <td class="tdCredit">@(subItem.Credit_Amount.ToString("N2"))</td>
                                </tr>
                            }

                            @if (nonPOSubCredit.Count() == 0)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='" + (item.Type == "Auto-Debit" ? item.Bank : item.COA_Name) + "'>" + (item.Type == "Auto-Debit" ? item.Bank : item.COA_Code) + "</span>")</td>
                                    <td>@("-")</td>
                                    <td>@(item.Description)</td>
                                    <td class="tdDebit">@(0)</td>
                                    <td class="tdCredit">@(item.Amount_of_Invoice.ToString("N2"))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th class="thDebitTotal">Debit</th>
                                <th class="thCreditTotal">Credit</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9" class="ts-pager">
                <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                        <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary next" title="next">→</button>
                        <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="nonPOFAEditModal" tabindex="-1" role="dialog" aria-labelledby="nonPOFAEditModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FA - Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("APNonPOEdit", "PaymentRequest", new { area = "FA" })" class="form-horizontal">
                <div class="modal-body">
                    <input type="hidden" id="hfPaymentID" name="iPaymentID" value="" />
                    <div class="form-group row">
                        <label for="DueDate" class="control-label col-3 text-right font-weight-bold">Due Date:</label>
                        <div class="col-9">
                            <input type="text" class="form-control txtPRDate" autocomplete="off" placeholder="Due Date" name="iEntryDueDate" id="txtDueDateFAEdit" required>
                            <textarea id="txtDueDateReason" class="txtDueDateReason form-control" name="iDueDateReason" placeholder="Due Date Change Reason" style="display:none;"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-3 text-right font-weight-bold">Payment Method:</label>
                        <div class="col-9">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Cash" required>Cash
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Transfer" required>Transfer
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3 text-right font-weight-bold">WHT Code:</label>
                        <div class="col-9">
                            <select id="selWHTCode" name="iWHTCode" class="form-control selWHTCode" style="width:100%">
                                <option value="" selected>-COA-</option>
                                @foreach (var item in ViewBag.WHTCOA)
                                {
                                    <option value="@(item.MAINACCOUNTID + "|" + item.NAME)">@(item.MAINACCOUNTID + " | " + item.NAME)</option>
                                }
                            </select>
                            <div class="form-group row divWHTAmount mt-2" style="display:none;">
                                <label class="control-label col-3 text-right font-weight-bold">WHT Amount:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="WHT Amount" name="iWHTAmount" id="txtWHTAmount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Return</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("NonPaymentReturn", "PaymentRequest", new { area = "FA" })" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="hfReturnID" name="iNonPOID" />
                        <textarea id="txteturnReason" name="iReturnReason" class="form-control" placeholder="Return Reason" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Return</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign AP Non PO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("APNonPaymentSign", "PaymentRequest", new { area = "FA" })" method="post">
                <div class="modal-body">
                    <input type="hidden" name="iNonPOID" id="hfAPNonPOID" value="" />
                    <input type="hidden" name="iApproval" id="hfApproval" value="" />
                    <input type="hidden" name="iApprovalSub" id="hfApprovalSub" value="" />
                    <input type="text" name="iAPNumber" id="txtAPNumber" class="form-control" placeholder="AP Number" required />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Sign</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><button type="button" class="btn btn-primary btnPrintJournal">Print</button> Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>