@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@using NGKBusi.Models;
@using NGKBusi.Areas.FA.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = (ClaimsIdentity)User.Identity;
    var currDeptName = currUser.FindFirstValue("deptName");
    DefaultConnection db = new DefaultConnection();
}

@section cssHead{
    <link href="@Url.Content("~/Content/tablesorter/theme.bootstrap_4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .dpDelete, .dpDelete i {
            color: red;
            cursor: pointer;
        }

            .dpDelete:hover, .dpDelete i:hover {
                opacity: .95;
            }

        #tblDirectPayment tbody tr:first-child .dpDelete {
            display: none;
        }

        #tblDirectPayment tbody tr:nth-child(0) {
            vertical-align: middle;
        }

        #tblDirectPayment tbody tr td:nth-child(0) {
            min-width: 215px;
        }

        #tblDirectPayment tbody tr td:nth-child(2) {
            min-width: 230px;
        }

        #tblDirectPayment tbody tr td:nth-child(3) {
            min-width: 190px;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .tdCredit, .tdDebit, .thDebitTotal, .thCreditTotal {
            text-align: right;
        }

        .select2-container--default .select2-results__option[aria-disabled=true] {
            display: none;
        }

        .select2-container.select2-container-disabled .select2-choice {
            background-color: #ddd;
            border-color: #a8a8a8;
        }
    </style>
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/widgets/widget-output.min.js")"></script>
    <script src="@Url.Content("~/Scripts/accounting.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".txtPRDate").datepicker({ dateFormat: 'mm/dd/yy' });
            $("#txtTaxInvoiceDate,.txtAllocTaxInvoiceDate").datepicker({ dateFormat: 'mm/dd/yy' });
            $('.tablesorter-childRow td').hide();
            $(".tblPRNPO").tablesorter({
                theme: "bootstrap",

                widthFixed: true,

                // widget code contained in the jquery.tablesorter.widgets.js file
                // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                // the uitheme widget is NOT REQUIRED!
                widgets: ["filter", "columns", "stickyHeaders"],

                widgetOptions: {
                    filter_excludeFilter: {
                        // zero-based column index
                        7: 'range',
                        8: 'range',
                        10: 'range'
                    },
                    // class names added to columns when sorted
                    columns: ["primary", "secondary", "tertiary"],

                    // extra css class name (string or array) added to the filter element (input or select)
                    filter_cssFilter: [
                        'form-control',
                        'form-control',
                        'form-control', // select needs custom class names :(
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control',
                        'form-control'
                    ]

                }
            }).tablesorterPager({
                cssGoto: '.pagenum',
                container: $(".ts-pager"),
                output: '{startRow} to {endRow} ({totalRows})',
                size: 10
            });

            $('.tablesorter').delegate('.toggle', 'click', function () {

                $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();

                return false;
            });

            $(".rbPaymentType").change(function () {
                $(".divDirectPayment").show("blind");
                $(".divSettlementFor").hide();
                $("#selSettlementFor").prop("required", false);
                $(".divNonPayment").hide();
                $("#selNonPayment").prop("required", false);
                if ($(this).val() == "Pre-Payment") {
                    $(".divDirectPayment").hide("blind");
                    $("#tblDirectPayment tbody").find("input").prop("required", false);
                    $("#tblDirectPayment tbody").find("textarea").prop("required", false);
                    $("#tblDirectPayment tbody").find(".select2").prop("required", false);
                } else {
                    $("#tblDirectPayment tbody").find("textarea").prop("required", true);
                    $("#tblDirectPayment tbody").find("input:not(.txtAllocTaxInvoiceDate):not(.txtAllocTaxInvoiceNumber):not(.txtAllocTaxInvoiceNumber17Digit)").prop("required", true);
                    $("#tblDirectPayment tbody").find(".select2").prop("required", true);
                    if ($(this).val() == "Settlement") {
                        $(".divSettlementFor").show();
                        $("#selSettlementFor").prop("required", true);
                    } else if ($(this).val() == "Realization") {
                        $(".divNonPayment").show();
                        $("#selNonPayment").prop("required", true);
                    }
                }
            });
            $("#selNonPayment").change(function () {
                var currID = $(this).val();
                var currCTR = $("#formNonPO");
                //currCTR.LoadingOverlay("show");
                if (currID.length == 0) {
                    return false;
                }
                $.ajax({
                    url: "/NGKBusi/FA/PaymentRequest/NonPaymentGetData",
                    method: "POST",
                    tryCount: 0,
                    tryLimit: 3,
                    data: {
                        iNonPaymentID: currID.join(",")
                    }, success: function (data) {
                        $("#selSettlementFor").val(data[0].Settlement_For).change();
                        $("#formNonPO").attr("action", $("#formNonPO").data("add"));
                        $(".divReceiveNumber").show();
                        $("#txtRecNumber").val(data[0].Receive_Number);
                        $("#hfNonPOID").val(currID);
                        $("#selCurrency").val(data[0].Currency_Code);
                        $("#selSection").val(data[0].Section_From_Code + "|" + data[0].Section_From_Name).change();
                        $("#txtInvoiceNumber").val(data[0].Invoice_Number);
                        $("#selVendor").val(data[0].Third_Party_Id + "|" + data[0].Third_Party_Name).change();
                        $("#txtInvoiceAmount").val(accounting.formatNumber(data[0].Amount_of_Invoice, 2));
                        $("#txtDescription").val(data[0].Description);
                        $(".rbPaymentType[value='" + data[0].Payment_Type + "']").prop("checked", true).change();
                        $(".rbPaymentMethod[value='" + data[0].Payment_Method + "']").prop("checked", true);
                        $("#selVATRate").val(data[0].VAT).change();
                        if (data[0].Tax_Date != null) {
                            $("#txtTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(data[0].Tax_Date.substr(6)))));
                        } else {
                            $("#txtTaxInvoiceDate").val("");
                        }
                        $("#txtTaxInvoiceNumber").val(data[0].Tax_Number);
                        $("#txtTaxInvoiceNumber17Digit").val(data[0].Tax_Number_17);
                        $("#tblDirectPayment tbody tr:first input").val("");
                        $("#tblDirectPayment tbody tr:first textarea").val("");
                        $("#tblDirectPayment tbody tr:first select").val("").change();
                        $("#tblDirectPayment tbody tr:not(:first)").remove();
                        var subRow = $("#tblDirectPayment tbody tr:first()");
                        var newRow = subRow.clone();

                        $(data[0].Non_PO_Sub).each(function (i, el) {
                            newRowIndex++;
                            var currRow = subRow;
                            if (i != 0) {
                                currRow = newRow.clone();
                            }
                            currRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + i);
                            currRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + i);
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").attr("id", "txtAllocTaxInvoiceNumber17Digit" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                            currRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").inputmask("99999999999999999");
                            currRow.find("input").val("");
                            currRow.find("textarea").val("");
                            currRow.find(".select2-container").remove();
                            currRow.find(".selSectionTo").val(el.Section_To_Code + "|" + el.Section_To_Name).change();
                            currRow.find(".txtAllocationAmount").val(accounting.formatNumber(el.Allocation_Amount, 2));
                            currRow.find(".txtAllocationAmountHolder").val(el.Allocation_Amount);
                            currRow.find(".selCOA").val(el.COA_Code + "|" + el.COA_Name).change();
                            currRow.find(".selProcate").val(el.Procate_Code + "|" + el.Procate_Name).change();
                            currRow.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                            currRow.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + el.Section_To_Code + "']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + (el.Budget_Number == "UNB" ? "ALL" : el.Section_To_Code) + "'][value='" + el.Budget_Number + "|" + el.Budget_Desc.replace(/(['])/g, "\\$1") + "']").prop("selected", true);
                            currRow.find(".txtAllocationDesc").val(el.Description);
                            currRow.find(".selAllocVATRate").val(el.VAT || "");
                            if (el.Tax_Date) {
                                currRow.find(".txtAllocTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(el.Tax_Date.substr(6)))));
                            }
                            currRow.find(".txtAllocTaxInvoiceNumber").val(el.Tax_Number);
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").val(el.Tax_Number_17);
                            if (i != 0) {
                                $("#tblDirectPayment tbody").append(currRow);
                            }
                            if (currRow.find(".selCOA").val() == "1851104|Prepaid Tax - VAT IN") {
                                currRow.find(".selAllocVATRate").show();
                                currRow.find(".txtAllocTaxInvoiceDate").show();
                                currRow.find(".txtAllocTaxInvoiceNumber").show();
                                currRow.find(".txtAllocTaxInvoiceNumber17Digit").show();
                                currRow.find(".selAllocVATRate").prop("required", true);
                            }

                            currRow.find(".select2").select2();
                        });
                        totalAlloc();
                        $("#divNonPOForm").show("blind");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        // currCTR.LoadingOverlay("hide");
                    }, error: function (xhr, textStatus, errorThrown) {
                        if (textStatus === "timeout") {
                            this.tryCount++;
                            if (this.tryCount <= this.tryLimit) {
                                $.ajax(this);
                                return;
                            }
                        }
                        //currCTR.LoadingOverlay("hide");
                        alert("Error Occurred, Please Try Again.");
                    }
                });
                //currCTR.LoadingOverlay("hide");
            });

            $("#selSettlementFor").change(function () {
                var currency = $(this).find(':selected').data("currency");
                var thirdparty = $(this).find(':selected').data("thirdparty");
                var amount = $(this).find(':selected').data("amount");
                $("#selVendor").val(thirdparty).change();
                $("#selCurrency").val(currency);
                $("#txtInvoiceAmount").val(accounting.formatNumber(amount, 2));
            });

            $("#selVATRate").change(function () {
                if ($(this).val() == "0") {
                    $(".divTaxInvoiceNumber,.divTaxInvoiceNumber17Digit,.divTaxInvoiceDate").hide("blind");
                    $("#txtTaxInvoiceNumber,#txtTaxInvoiceNumber17Digit,#txtTaxInvoiceDate").val("");
                    //$("#txtTaxInvoiceNumber,#txtTaxInvoiceDate").prop("required", false);
                } else {
                    //$("#txtTaxInvoiceNumber,#txtTaxInvoiceDate").prop("required", true);
                    $(".divTaxInvoiceNumber,.divTaxInvoiceNumber17Digit,.divTaxInvoiceDate").show("blind");
                }
            });
            var newRowIndex = 0;
            $("#btnDPAdd").click(function () {
                newRowIndex++;
                var newRow = $("#tblDirectPayment tbody tr:first()").clone();
                newRow.find("input").val("");
                newRow.find("textarea").val("");
                newRow.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                newRow.find(".select2-container").remove();
                newRow.find(".select2").select2();
                newRow.find(".selAllocVATRate").hide();
                newRow.find(".selAllocVATRate").prop("required", false);
                newRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + newRowIndex);
                newRow.find(".txtAllocTaxInvoiceDate").hide();
                newRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + newRowIndex);
                newRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                newRow.find(".txtAllocTaxInvoiceNumber").hide();
                newRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                newRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + newRowIndex);
                newRow.find(".txtAllocTaxInvoiceNumber17Digit").hide();
                newRow.find(".txtAllocTaxInvoiceNumber17Digit").inputmask("99999999999999999");
                newRow.find(".txtAllocTaxInvoiceNumber17Digit").attr("id", "txtAllocTaxInvoiceNumber17Digit" + newRowIndex);
                $("#tblDirectPayment tbody").append(newRow);
            });

            $(document).on("change", ".selCOA", function () {
                currTD = $(this).closest("td");
                if ($(this).val() == "1851104|Prepaid Tax - VAT IN") {
                    currTD.find(".selAllocVATRate").show();
                    currTD.find(".txtAllocTaxInvoiceDate").show();
                    currTD.find(".txtAllocTaxInvoiceNumber").show();
                    currTD.find(".txtAllocTaxInvoiceNumber17Digit").show();
                    currTD.find(".selAllocVATRate").prop("required", true);
                } else {
                    currTD.find(".selAllocVATRate").hide();
                    currTD.find(".selAllocVATRate").val("");
                    currTD.find(".txtAllocTaxInvoiceDate").hide();
                    currTD.find(".txtAllocTaxInvoiceDate").val("");
                    currTD.find(".txtAllocTaxInvoiceNumber").hide();
                    currTD.find(".txtAllocTaxInvoiceNumber").val("");
                    currTD.find(".txtAllocTaxInvoiceNumber17Digit").hide();
                    currTD.find(".txtAllocTaxInvoiceNumber17Digit").val("");
                    currTD.find(".selAllocVATRate").prop("required", false);
                }
            });

            $(document).on("change", ".selBudgetNumber", function () {
                var coa = $(this).find(':selected').data("coa-code");
                if ($(this).val() != "" || $(this).val() != "UNB|Unbudgeted" || $(this).val() != undefined) {
                    $(this).closest("tr").find(".selCOA").val(coa).change();
                }
            });

            $(document).on("click", ".dpDelete", function () {
                if (confirm("Are you sure want to delete this data ?")) {
                    $(this).closest("tr").remove();
                    totalAlloc();
                }
            });

            $(document).on("keyup", ".txtAllocationAmount", function () {
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }
                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39, 188, 190]) !== -1) {
                    return;
                }
                var $this = $(this);
                // Get the value.
                var input = $this.val().replace(/(?!\.)\D/g, "").replace(/(?<=\..*)\./g, "").replace(/(?<=\.\d\d).*/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $this.val(input);
                $(this).parent().find(".txtAllocationAmountHolder").val(accounting.unformat(input));
                totalAlloc();
            });
            $(".btnNPOSubmit").click(function (e) {
                if ($(".rbPaymentType:checked").val() == "Direct-Payment") {
                    var InvoiceAmount = accounting.unformat($("#txtInvoiceAmount").val()) || 0;
                    var TotalAllocation = accounting.unformat($("#tdTotalAllocation").text()) || 0;
                    var VAT = $("#selVATRate").val() != "" ? accounting.unformat($("#selVATRate").val()) : 0;
                    var VATAmount = VAT > 0 ? Math.round(accounting.unformat((TotalAllocation / 100) * VAT, 10)) : 0;
                    if (parseFloat(InvoiceAmount, 10).toFixed(2) != parseFloat(parseFloat(TotalAllocation, 10) + parseFloat(VATAmount, 10), 10).toFixed(2)) {
                        e.preventDefault();
                        $(".spanInvoiceAmount").text("Rp. " + parseFloat(InvoiceAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                        $(".spanAllocation").text("Rp. " + parseFloat(TotalAllocation, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                        $(".spanVAT").text(VAT);
                        $(".spanVATAmount").text("Rp. " + parseFloat(VATAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                        $(".spanGrandTotal").text("Rp. " + parseFloat(parseFloat(TotalAllocation.toFixed(2), 10) + parseFloat(VATAmount.toFixed(2), 10), 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                        $("#calculateModal").modal();
                    }
                }
            });

            $(".btnNonPOAdd").click(function () {
                $("#formNonPO").attr("action", $("#formNonPO").data("add"));
                $(".divReceiveNumber").hide();
                $("#formNonPO")[0].reset();
                $("#formNonPO").find(".select2").select2();
                $("#tblDirectPayment tbody tr:not(:first)").remove();
                var firstRow = $("#tblDirectPayment tbody tr:first()");
                firstRow.find("input").val("");
                firstRow.find("textarea").val("");
                firstRow.find(".select2-container").remove();
                firstRow.find(".select2").select2();
                firstRow.find(".selAllocVATRate").hide();
                firstRow.find(".selAllocVATRate").prop("required", false);
                firstRow.find(".txtAllocTaxInvoiceDate").hide();
                firstRow.find(".txtAllocTaxInvoiceNumber").hide();
                firstRow.find(".txtAllocTaxInvoiceNumber17Digit").hide();
                firstRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + (firstRow.index()));
                firstRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + (firstRow.index()));
                firstRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + (firstRow.index()));
                firstRow.find(".txtAllocTaxInvoiceNumber17Digit").attr("id", "txtAllocTaxInvoiceNumber17Digit" + (firstRow.index()));
                totalAlloc();
                $(".divDirectPayment").hide();
                $("#selVATRate").change();
                $("#divNonPOForm").show("blind");
                $(".divSettlementFor").hide();
                $("#selSettlementFor").prop("required", false);
            });

            $(".btnNPOCancel").click(function () {
                $("#divNonPOForm").hide("blind");
            });

            $(".btnNonPODelete").click(function () {
                if (confirm("Are you sure want to delete this data ?")) {
                    var currTR = $(this).closest("tr");
                    var currTRChild = $(this).closest("tr").nextUntil('tr:not(.tablesorter-childRow)');
                    currTR.css("background-color", "orange");
                    currTRChild.css("background-color", "orange");
                    $.ajax({
                        url: "/NGKBusi/FA/PaymentRequest/NonPODelete",
                        method: "POST",
                        tryCount: 0,
                        tryLimit: 3,
                        data: {
                            iNonPOID: $(this).data("id")
                        }, success: function () {
                            currTR.remove();
                            currTRChild.remove();
                            $(".tblPRNPO").trigger("refresh");
                        }, error: function (xhr, textStatus, errorThrown) {
                            if (textStatus === "timeout") {
                                this.tryCount++;
                                if (this.tryCount <= this.tryLimit) {
                                    $.ajax(this);
                                    return;
                                }
                            }
                            currTR.css("background-color", "initial");
                            currTRChild.css("background-color", "initial");
                            alert("Error Occurred, Please Try Again.");
                        }
                    });
                }
            });
            $(".btnNonPOSign").click(function () {
                if (confirm("Sign This Data ?")) {
                    var currTD = $(this).closest("td");
                    currTD.LoadingOverlay("show");
                    $.ajax({
                        url: "/NGKBusi/FA/PaymentRequest/NonPOSign",
                        method: "POST",
                        tryCount: 0,
                        tryLimit: 3,
                        data: {
                            "iNonPOID[]": $(this).data("id"),
                            iApproval: $(this).data("approval"),
                            iApprovalSub: $(this).data("approval_sub")
                        }, success: function () {
                            location.reload();
                        }, error: function (xhr, textStatus, errorThrown) {
                            if (textStatus === "timeout") {
                                this.tryCount++;
                                if (this.tryCount <= this.tryLimit) {
                                    $.ajax(this);
                                    return;
                                }
                            }
                            currTD.LoadingOverlay("hide");
                            alert("Error Occurred, Please Try Again.");
                        }
                    });
                }
            });

            $(".thDebitTotal").each(function () {
                var currTable = $(this).closest("table");
                var currTotal = 0;
                $(".tdDebit", currTable).each(function () {
                    var value = accounting.unformat($(this).text());
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        currTotal += parseFloat(value);
                    }
                });
                $(this).text(accounting.formatNumber(currTotal, 2));
            });

            $(".thCreditTotal").each(function () {
                var currTable = $(this).closest("table");
                var currTotal = 0;
                $(".tdCredit", currTable).each(function () {
                    var value = accounting.unformat($(this).text());
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        currTotal += parseFloat(value);
                    }
                });
                $(this).text(accounting.formatNumber(currTotal, 2));
            });

            $(".btnNonPOReject").click(function () {
                var currID = $(this).data("id");
                $("#hfRejectID").val(currID);
                $("#rejectModal").modal();
            });

            $(".btnNonPOReturn").click(function () {
                var currID = $(this).data("id");
                $("#hfReturnID").val(currID);
                $("#returnModal").modal();
            });


            $("#txtInvoiceAmount").on("keyup", function (event) {
                // When user select text in the document, also abort.
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }
                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39, 188, 190]) !== -1) {
                    return;
                }
                var $this = $(this);
                // Get the value.
                var input = $this.val().replace(/(?!\.)\D/g, "").replace(/(?<=\..*)\./g, "").replace(/(?<=\.\d\d).*/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $this.val(input);
            });
            $("#txtTaxInvoiceNumber,.txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
            $("#txtTaxInvoiceNumber17Digit,.txtAllocTaxInvoiceNumber17Digit").inputmask("99999999999999999");

            $(".btnNonPOEdit,.btnNonPOCopy").click(function () {
                var currID = $(this).data("id");
                var currMode = $(this).data("mode");
                var currCTR = $(this);
                currCTR.LoadingOverlay("show");
                $.ajax({
                    url: "/NGKBusi/FA/PaymentRequest/NonPOEditData",
                    method: "POST",
                    tryCount: 0,
                    tryLimit: 3,
                    data: {
                        iNonPOID: currID
                    }, success: function (data) {
                        $("#selSettlementFor").val(data[0].Settlement_For).change();
                        $("#selNonPayment").val(data[0].Non_Paymeny_ID).change();
                        $("#formNonPO").attr("action", currMode == "copy" ? $("#formNonPO").data("add") : $("#formNonPO").data("edit"));
                        $(".divReceiveNumber").show();
                        $("#txtRecNumber").val(data[0].Receive_Number);
                        $("#hfNonPOID").val(currID);
                        $("#selCurrency").val(data[0].Currency_Code);
                        $("#selSection").val(data[0].Section_From_Code + "|" + data[0].Section_From_Name).change();
                        $("#txtInvoiceNumber").val(data[0].Invoice_Number);
                        $("#selVendor").val(data[0].Third_Party_Id + "|" + data[0].Third_Party_Name).change();
                        $("#txtInvoiceAmount").val(accounting.formatNumber(data[0].Amount_of_Invoice, 2));
                        $("#txtDescription").val(data[0].Description);
                        $("#txtDueDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(data[0].Due_Date.substr(6)))));
                        $("#cbIsWorkingOrder").prop("checked", data[0].Is_Working_Order);
                        $(".rbPaymentType[value='" + data[0].Payment_Type + "']").prop("checked", true).change();
                        $(".rbPaymentMethod[value='" + data[0].Payment_Method + "']").prop("checked", true);
                        $("#selVATRate").val(data[0].VAT).change();
                        if (data[0].Tax_Date != null) {
                            $("#txtTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(data[0].Tax_Date.substr(6)))));
                        } else {
                            $("#txtTaxInvoiceDate").val("");
                        }
                        $("#txtTaxInvoiceNumber").val(data[0].Tax_Number);
                        $("#txtTaxInvoiceNumber17Digit").val(data[0].Tax_Number_17);
                        $("#tblDirectPayment tbody tr:not(:first)").remove();
                        var subRow = $("#tblDirectPayment tbody tr:first()");
                        var newRow = subRow.clone();

                        $(data[0].Non_PO_Sub).each(function (i, el) {
                            newRowIndex++;
                            var currRow = subRow;
                            if (i != 0) {
                                currRow = newRow.clone();
                            }
                            currRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + i);
                            currRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + i);
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").attr("id", "txtAllocTaxInvoiceNumber17Digit" + i);
                            currRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                            currRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").inputmask("99999999999999999");
                            currRow.find("input").val("");
                            currRow.find("textarea").val("");
                            currRow.find(".select2-container").remove();
                            currRow.find(".selSectionTo").val(el.Section_To_Code + "|" + el.Section_To_Name).change();
                            currRow.find(".txtAllocationAmount").val(accounting.formatNumber(el.Allocation_Amount, 2));
                            currRow.find(".txtAllocationAmountHolder").val(el.Allocation_Amount);
                            currRow.find(".selCOA").val(el.COA_Code + "|" + el.COA_Name).change();
                            currRow.find(".selProcate").val(el.Procate_Code + "|" + el.Procate_Name).change();
                            currRow.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                            currRow.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + el.Section_To_Code + "']").prop("disabled", false);
                            currRow.find(".selBudgetNumber option[data-dept-to ='" + (el.Budget_Number == "UNB" ? "ALL" : el.Section_To_Code) + "'][value='" + el.Budget_Number + "|" + el.Budget_Desc.replace(/(['])/g, "\\$1") + "']").prop("selected", true);
                            currRow.find(".txtAllocationDesc").val(el.Description);
                            currRow.find(".selAllocVATRate").val(el.VAT || "");
                            if (el.Tax_Date) {
                                currRow.find(".txtAllocTaxInvoiceDate").val($.datepicker.formatDate('mm/dd/yy', new Date(parseInt(el.Tax_Date.substr(6)))));
                            }
                            currRow.find(".txtAllocTaxInvoiceNumber").val(el.Tax_Number);
                            currRow.find(".txtAllocTaxInvoiceNumber17Digit").val(el.Tax_Number_17);
                            if (i != 0) {
                                $("#tblDirectPayment tbody").append(currRow);
                            }
                            if (currRow.find(".selCOA").val() == "1851104|Prepaid Tax - VAT IN") {
                                currRow.find(".selAllocVATRate").show();
                                currRow.find(".txtAllocTaxInvoiceDate").show();
                                currRow.find(".txtAllocTaxInvoiceNumber").show();
                                currRow.find(".txtAllocTaxInvoiceNumber17Digit").show();
                                currRow.find(".selAllocVATRate").prop("required", true);
                            }

                            currRow.find(".select2").select2();
                        });
                        totalAlloc();
                        $("#divNonPOForm").show("blind");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        currCTR.LoadingOverlay("hide");
                    }, error: function (xhr, textStatus, errorThrown) {
                        if (textStatus === "timeout") {
                            this.tryCount++;
                            if (this.tryCount <= this.tryLimit) {
                                $.ajax(this);
                                return;
                            }
                        }
                        currCTR.LoadingOverlay("hide");
                        alert("Error Occurred, Please Try Again.");
                    }
                });
            });
            $("#selNPOFilterStatus,#selNPOFilterYear,#selNPOFilterLevel").change(function () {
                $(".btnNPOFilter").click();
            });

            $(document).on("change", ".selSectionTo", function () {
                var ctr = $(this);
                var currTR = $(this).closest("tr");
                currTR.find(".selBudgetNumber").val("");
                currTR.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                currTR.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                currTR.find(".selBudgetNumber option[data-dept-to ='" + ctr.find(":selected").data("dept-code") + "']").prop("disabled", false);
                currTR.find(".selBudgetNumber").select2();
            });

            $(".rbPaymentType:checked").change();
            $("#txtInvoiceAmount").keyup();
            if ($("#hfBusinessTripDetails").val() != "") {
                businessTripDetails();
            }
            function businessTripDetails() {
                var subRow = $("#tblDirectPayment tbody tr:first()");
                var newRow = subRow.clone();
                var btCoa = $("#hfBusinessTripCoa").val();
                var btSectionTo = $("#hfBusinessTripSectionTo").val().split("|");
                var btDetails = $("#hfBusinessTripDetails").val().split(",");
                $(btDetails).each(function (i, el) {
                    newRowIndex++;
                    var currRow = subRow;
                    if (i != 0) {
                        currRow = newRow.clone();
                    }
                    var detailItem = el.split("||");
                    var btBudget = detailItem[1].split("|");
                    currRow.find(".selAllocVATRate").attr("id", "selAllocVATRate" + i);
                    currRow.find(".txtAllocTaxInvoiceDate").attr("id", "txtAllocTaxInvoiceDate" + i);
                    currRow.find(".txtAllocTaxInvoiceNumber").attr("id", "txtAllocTaxInvoiceNumber" + i);
                    currRow.find(".txtAllocTaxInvoiceNumber17Digit").attr("id", "txtAllocTaxInvoiceNumber17Digit" + i);
                    currRow.find(".txtAllocTaxInvoiceDate").removeClass('hasDatepicker').datepicker({ dateFormat: 'mm/dd/yy' });
                    currRow.find(".txtAllocTaxInvoiceNumber").inputmask("999.999-99.99999999");
                    currRow.find(".txtAllocTaxInvoiceNumber17Digit").inputmask("99999999999999999");
                    currRow.find("input").val("");
                    currRow.find("textarea").val("");
                    currRow.find(".select2-container").remove();
                    currRow.find(".selSectionTo").val(btSectionTo[0] + "|" + btSectionTo[1]).change();
                    currRow.find(".txtAllocationAmount").val(accounting.formatNumber(detailItem[0], 2));
                    currRow.find(".txtAllocationAmountHolder").val(detailItem[0]);
                    currRow.find(".selCOA").val(btCoa).change();
                    currRow.find(".selProcate").val("S76010" + "|" + "Common").change();
                    currRow.find(".selBudgetNumber option[value !='']").prop("disabled", true);
                    currRow.find(".selBudgetNumber option[data-dept-to ='ALL']").prop("disabled", false);
                    currRow.find(".selBudgetNumber option[data-dept-to ='" + btSectionTo[0] + "']").prop("disabled", false);
                    currRow.find(".selBudgetNumber option[data-dept-to ='" + (btBudget[0] == "UNB" ? "ALL" : btSectionTo[0]) + "'][value='" + btBudget[0] + "|" + btBudget[1] ?.replace(/(['])/g, "\\$1") + "']").prop("selected", true);
                    currRow.find(".txtAllocationDesc").val(detailItem[2]);
                    if (i != 0) {
                        $("#tblDirectPayment tbody").append(currRow);
                    }
                    currRow.find(".select2").select2();
                });
                totalAlloc();
            }

            function totalAlloc() {
                var totalAllocation = 0;
                $(".txtAllocationAmount").each(function () {
                    totalAllocation += accounting.unformat($(this).val()) || 0;
                });
                $("#tdTotalAllocation").text(accounting.formatNumber(totalAllocation, 2));
            }

            $(".cbCheckSignAll").change(function () {
                if ($(this).is(":checked") == true) {
                    $(".cbCheckSign:visible").prop("checked", $(this).is(":checked"));
                } else {
                    $(".cbCheckSign").prop("checked", $(this).is(":checked"));
                }
                $(".cbCheckSign").change();
            });
            $(".cbCheckSign").change(function () {
                if ($(".cbCheckSign:checked").length > 0) {
                    $(".btnSignChecked").prop("disabled", false);
                } else {
                    $(".btnSignChecked").prop("disabled", true);
                }
            });
        });
    </script>

}
<h2>
    Payment Request Non PO
    @if (ViewBag.PayUserLevel <= 1)
    {
        <button type="button" class="btn btn-success btnNonPOAdd">Add New</button>
    }
</h2>
<hr />
<input type="hidden" id="hfBusinessTripDetails" value="@(Request["details"])" />
<input type="hidden" id="hfBusinessTripCoa" value="@(Request["coa"])" />
<input type="hidden" id="hfBusinessTripSectionTo" value="@(Request["sectionTo"])" />
<div class="divNPOFilter">
    <form action="@Url.Action("NonPO", "PaymentRequest", new { area = "FA" })" method="post">
        <select id="selNPOFilterYear" class="form-control" name="iNPOFilterYear">
            @for (var i = 2020; i <= (DateTime.Now.Month == 12 ? DateTime.Now.AddYears(1).Year : DateTime.Now.Year); i++)
            {
                <option value="@(i)" @(ViewBag.currFilterYear == i.ToString() ? "Selected" : "")>@(i)</option>
            }
        </select>
        <select id="selNPOFilterStatus" class="form-control" name="iNPOFilterStatus">
            <option value="All" @(ViewBag.currFilterStatus == "All" ? "Selected" : "")>All</option>
            <option value="Signed" @(ViewBag.currFilterStatus == "Signed" ? "Selected" : "")>Signed</option>
            <option value="Open" @(ViewBag.currFilterStatus == "Open" ? "Selected" : "")>Open</option>
        </select>
        @if (((IEnumerable<dynamic>)ViewBag.PayUserLevelCheck).Count() > 1)
        {
            <select id="selNPOFilterLevel" class="form-control" name="iNPOFilterLevel">
                @foreach (var data in ViewBag.PayUserLevelCheck)
                {
                    <option value="@(data.Levels + "|" + data.Levels_Sub)" @(data.Levels + "|" + data.Levels_Sub == ViewBag.PayUserLevel + "|" + ViewBag.PayUserLevelSub ? "Selected" : "")>@(data.Title)</option>
                }
            </select>
        }
        <button type="submit" class="btnNPOFilter" style="display:none;">Submit</button>
    </form>
</div>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:indianred">
        @ViewBag.ErrorMessage
    </h5>
}
@if (DateTime.Now.Day >= 20 && (DateTime.Now.Day <= ViewBag.closingDate.Closing_Date.Day || DateTime.Now.Month == 12))
{
    <h5 style="color:indianred">
        Closing date : @( ViewBag.closingDate.Closing_Date.ToShortDateString() ) <br />
        E-voucher yg disubmit & diapprove ke Finance setelah tanggal tersebut, otomatis tercatat dibulan berikutnya.
    </h5>
}
@if (ViewBag.PayUserLevel <= 1)
{
    <div id="divNonPOForm" style="@(Request["addNew"] != null ? "" : "display:none;")">
        <form id="formNonPO" action="@Url.Action("NonPOAdd", "PaymentRequest", new { area = "FA" })" data-add="@Url.Action("NonPOAdd", "PaymentRequest", new { area = "FA" })" data-edit="@Url.Action("NonPOEdit", "PaymentRequest", new { area = "FA" })" class="form-horizontal" method="post">
            <div class="form-group row" style="display:none;">
                <label for="entryDate" class="control-label col-3 text-right font-weight-bold">Entry Date:</label>
                <div class="col-9">
                    <input type="text" class="form-control txtPRDate" autocomplete="off" placeholder="Entry Date" name="iEntryDate" id="txtEntryDate" value="@(DateTime.Now.ToString("MM/dd/yyyy"))" required>
                </div>
            </div>
            <div class="form-group row divReceiveNumber" style="display:none;">
                <label for="receiveNumber" class="control-label col-3 text-right font-weight-bold">Copy From:</label>
                <div class="col-9">
                    <input type="text" class="form-control txtRecNumber" placeholder="Receive Number" name="iReceiveNumber" id="txtRecNumber" disabled>
                    <input type="hidden" id="hfNonPOID" name="iNonPOID" value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Section From:</label>
                <div class="col-9">
                    <select id="selSection" name="iSection" class="form-control" required disabled>
                        <option value="">-Section-</option>
                        @foreach (var item in ViewBag.Section)
                        {
                            <option value="@(item.Section_Code + "|" + item.Section_Name)" @(item.Section_Code == ViewBag.PayUser.Section_ID ? "selected" : "")>@(item.Section_Code + " | " + item.Section_Name)</option>
                        }
                    </select>
                    <select id="selSectionFrom" name="iSectionFrom" class="form-control" style="display:none;">
                        <option value="">-Section-</option>
                        @foreach (var item in ViewBag.Section)
                        {
                            <option value="@(item.Section_Code + "|" + item.Section_Name)" @(item.Section_Code == ViewBag.PayUser.Section_ID ? "selected" : "")>@(item.Section_Code + " | " + item.Section_Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="invoiceNumber" class="control-label col-3 text-right font-weight-bold">Invoice Number:</label>
                <div class="col-9">
                    <input type="text" class="form-control" placeholder="Invoice Number" name="iInvoiceNumber" id="txtInvoiceNumber" value="@(Request["invNumber"])" required @(Request["addNew"] != null ? "readonly" : "")>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Third Party:</label>
                <div class="col-9">
                    <select id="selVendor" name="iVendor" class="form-control select2" style="width:100%;" required>
                        <option value="">-Third Party-</option>
                        @foreach (var item in ViewBag.ThirdParty)
                        {
                            <option value="@(item.ACCOUNTNUM + "|" + item.Name)" @( item.SearchName == Request["NIK"] ? "selected" : "")>@(item.ACCOUNTNUM + " | " + item.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Currency:</label>
                <div class="col-9">
                    <select id="selCurrency" name="iCurrency" class="form-control" required>
                        <option value="">-Currency-</option>
                        @foreach (var item in ViewBag.Currency)
                        {
                            <option value="@(item.CURRENCY_CODE)" @(item.CURRENCY_CODE == Request["currency"] ? "Selected" : "")>@(item.CURRENCY_CODE + " | " + item.TXT)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Amount of Invoice:</label>
                <div class="col-9">
                    <input type="text" class="form-control" placeholder="Amount of Invoice" name="iInvoiceAmount" id="txtInvoiceAmount" value="@(Request["amountOfInvoice"])" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Description:</label>
                <div class="col-9">
                    <textarea class="form-control" placeholder="Description" name="iDescription" id="txtDescription" maxlength="60" rows="2" required>@(Request["Description"])</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="DueDate" class="control-label col-3 text-right font-weight-bold">Due Date:</label>
                <div class="col-9">
                    <input type="text" class="form-control txtPRDate" autocomplete="off" placeholder="Due Date" name="iEntryDueDate" id="txtDueDate" value="@(Request["dueDate"])" required>
                </div>
            </div>
            <div class="form-group row @(currDeptName != "SUPPLY & PROCUREMENT" ? "d-none":"")">
                <label for="IsWorkingOrder" class="control-label col-3 text-right font-weight-bold">Working Order :</label>
                <div class="col-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="cbIsWorkingOrder" name="iIsWorkingOrder">
                        <label class="form-check-label" for="cbIsWorkingOrder">
                            For Working Order Payment
                        </label>
                    </div>                
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Payment Type:</label>
                <div class="col-9">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentType" name="iPaymentType" value="Pre-Payment" @(Request["paymentType"] == "Pre-Payment" ? "checked" : "") required>Pre Payment
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentType" name="iPaymentType" value="Direct-Payment" required>Direct Payment
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentType" name="iPaymentType" value="Settlement" @(Request["paymentType"] == "Settlement" ? "checked" : "") required>Settlement
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentType" name="iPaymentType" value="Realization" required>Realization
                        </label>
                    </div>
                </div>
            </div>
            @{
                var invNumber = Request["invNumber"];
                var getCANumber = db.FA_Payment_Request_Non_PO.Where(w => w.Invoice_Number == invNumber).FirstOrDefault();
            }
            <div class="form-group row divSettlementFor" style="display:none;">
                <label for="receiveNumber" class="control-label col-3 text-right font-weight-bold">Settlement For:</label>
                <div class="col-9">
                    <select id="selSettlementFor" name="iSettlementFor" class="form-control select2" style="width:100%;">
                        <option value="">-Settlement-</option>
                        @foreach (var item in ViewBag.SettlementList)
                        {
                            <option value="@(item.Receive_Number)" data-thirdparty="@(item.Third_Party_Id + " |" + item.Third_Party_Name)" data-currency="@(item.Currency_Code)" data-amount="@(item.Amount_of_Invoice)" @(getCANumber != null && getCANumber.Receive_Number == item.Receive_Number ? "selected" : "")>@(item.Receive_Number + "|" + item.Description)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row divNonPayment" style="display:none;">
                <label for="receiveNumber" class="control-label col-3 text-right font-weight-bold">Realization For:</label>
                <div class="col-9">
                    <select id="selNonPayment" name="iNonPaymentID" class="form-control select2" style="width:100%;" multiple>
                        @foreach (var item in ViewBag.NonPaymentList)
                        {
                            <option value="@(item.Receive_Number)" data-id="@(item.id)" data-thirdparty="@(item.Third_Party_Id + "|" + item.Third_Party_Name)" data-currency="@(item.Currency_Code)" data-amount="@(item.Amount_of_Invoice)">@(item.Receive_Number + "|" + item.Description)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row divDirectPayment" style="display:none;overflow:auto;">
                <div class="col-12">
                    <table id="tblDirectPayment" class="table">
                        <thead>
                            <tr>
                                <th>Section To</th>
                                <th>Allocation Amount</th>
                                <th>Chart of Account</th>
                                <th>Procate</th>
                                <th>Budget Number</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="iSectionTo[]" class="form-control select2 selSectionTo" style="width:100%" required>
                                        <option value="">-Section-</option>
                                        @foreach (var item in ViewBag.Section)
                                        {
                                            <option data-dept-code="@(item.Section_Code)" value="@(item.Section_Code + "|" + item.Section_Name)">@(item.Section_Code + " | " + item.Section_Name)</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:200px;">
                                    <input type="text" class="form-control txtAllocationAmount" placeholder="Allocation Amount" required>
                                    <input type="text" class="form-control d-none txtAllocationAmountHolder" placeholder="Allocation Amount" name="iAllocationAmount[]">
                                </td>
                                <td>
                                    <select name="iCOA[]" class="form-control select2 selCOA" style="width:100%" required>
                                        <option value="">-COA-</option>
                                        @foreach (var item in ViewBag.COA)
                                        {
                                            <option value="@(item.MAINACCOUNTID + "|" + item.NAME)">@(item.MAINACCOUNTID + " | " + item.NAME)</option>
                                        }
                                    </select>
                                    <select name="iAllocVATRate[]" class="form-control selAllocVATRate" style="display:none;">
                                        <option value="">NON VAT</option>
                                        <option value="1">VAT 1%</option>
                                        <option value="1.1">VAT 1.1%</option>
                                        <option value="1.2">VAT 1.2%</option>
                                        <option value="10">VAT 10%</option>
                                        <option value="11">VAT 11%</option>
                                        <option value="12">VAT 12%</option>
                                    </select>
                                    <input type="text" class="form-control txtAllocTaxInvoiceDate" placeholder="Tax Invoice Date" name="iAllocTaxInvoiceDate[]" style="display:none;" autocomplete="off">
                                    <input type="text" class="form-control txtAllocTaxInvoiceNumber" placeholder="Tax Invoice Number" name="iAllocTaxInvoiceNumber[]" style="display:none;">
                                    <input type="text" class="form-control txtAllocTaxInvoiceNumber17Digit" placeholder="Tax Invoice Number 17 Digit" name="iAllocTaxInvoiceNumber17Digit[]" style="display:none;">
                                </td>
                                <td>
                                    <select name="iProcate[]" class="form-control select2 selProcate" style="width:100%" required>
                                        <option value="">-Procate-</option>
                                        @foreach (var item in ViewBag.Procate)
                                        {
                                            <option value="@(item.Procate_Code + "|" + item.Procate_Name)">@(item.Procate_Code + " | " + item.Procate_Name)</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select name="iBudgetNumber[]" class="form-control select2 selBudgetNumber" style="width:100%" required>
                                        <option value="">-Bgt. Number-</option>
                                        @foreach (var item in ViewBag.Budget)
                                        {
                                            <option data-dept-to="@(item.Section_To_Code)" data-coa-code="@(item.COA_Code + "|" + item.COA_Name)" disabled value="@(item.Budget_No + "|" + item.Description)">@(item.Budget_No + " | " + item.Description)</option>
                                        }
                                        <option data-dept-to="ALL" value="@("UNB|Unbudgeted")">@("UNB | Unbudgeted")</option>
                                        <option data-dept-to="B3130" value="@("Rebate|Accrued Expense")" data-coa-code="@("3195101" + "|" + "Accrued Expense")">@("Rebate | Accrued Expense")</option>
                                    </select>
                                </td>
                                <td style="min-width:350px;">
                                    <textarea class="form-control txtAllocationDesc" maxlength="60" rows="1" placeholder="Description" name="iAllocationDesc[]" required></textarea>
                                </td>
                                <td>
                                    <a class="dpDelete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total Allocation</td>
                                <td id="tdTotalAllocation"></td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <button id="btnDPAdd" type="button" class="btn btn-sm btn-success form-control"><i class="fas fa-plus"></i></button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">VAT Rate:</label>
                <div class="col-9">
                    <select id="selVATRate" name="iVATRate" class="form-control" required>
                        <option value="0">NON VAT</option>
                        <option value="1">VAT 1%</option>
                        <option value="1.1">VAT 1.1%</option>
                        <option value="1.2">VAT 1.2%</option>
                        <option value="10">VAT 10%</option>
                        <option value="11">VAT 11%</option>
                        <option value="12">VAT 12%</option>
                    </select>
                    <div class="form-group row divTaxInvoiceDate mt-2" style="display:none;">
                        <label class="control-label col-3 text-right font-weight-bold">Tax Invoice Date:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Tax Invoice Date" name="iTaxInvoiceDate" id="txtTaxInvoiceDate" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row divTaxInvoiceNumber mt-2" style="display:none;">
                        <label class="control-label col-3 text-right font-weight-bold">Tax Invoice Number:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Tax Invoice Number" name="iTaxInvoiceNumber" id="txtTaxInvoiceNumber">
                        </div>
                    </div>
                    <div class="form-group row divTaxInvoiceNumber17Digit mt-2" style="display:none;">
                        <label class="control-label col-3 text-right font-weight-bold">Tax Invoice Number 17 Digit:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Tax Invoice Number 17 Digit" name="iTaxInvoiceNumber17Digit" id="txtTaxInvoiceNumber17Digit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3 text-right font-weight-bold">Payment Method:</label>
                <div class="col-9">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Cash" required>Cash
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input rbPaymentMethod" name="iPaymentMethod" value="Transfer" checked required>Transfer
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-3 col-3">
                    <button type="button" class="btn btn-secondary form-control btnNPOCancel">Cancel</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control btnNPOSubmit">Submit</button>
                </div>
            </div>
        </form>
        <hr />
    </div>
    <div class="modal fade" id="calculateModal" tabindex="-1" role="dialog" aria-labelledby="calculateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calculate Total</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>We're sorry, your <span style="color:red;">Total Amount</span> and <span style="color:red;">Amount of Invoice</span> is <span style="color:red;">not match!!</span></h5>
                    <br /><br />
                    <label class="font-weight-bold">Allocation Amount: </label> <span class="spanAllocation">0</span><br />
                    <label class="font-weight-bold">VAT (<span class="spanVAT">0</span>%) : </label> <span class="spanVATAmount">0</span><br />
                    <hr />
                    <label class="font-weight-bold">Total Amount : </label> <span class="spanGrandTotal">0</span>
                    <hr />
                    <label class="font-weight-bold">Amount of Invoice : </label> <span class="spanInvoiceAmount">0</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}
<table class="tblPRNPO table table-striped">
    <thead>
        <tr>
            <th>
                @if (ViewBag.currFilterStatus == "Open")
                {
                    <input type="checkbox" class="cbCheckSignAll" />
                }
                Receive Number
            </th>
            <th>Entry Date</th>
            <th>Section From</th>
            <th>Third Party</th>
            <th class="filter-select" data-placeholder="Select">Currency</th>
            <th>Amount of Invoice</th>
            <th>Due Date</th>
            <th class="filter-select" data-placeholder="Select">Payment Method</th>
            <th class="filter-select" data-placeholder="Select">Payment Type</th>
            <th>Created By</th>
            <th class="filter-select" data-placeholder="Select">Status</th>
            <th class="filter-false sorter-false">
                @if (ViewBag.currFilterStatus == "Open")
                {
                    <form id="formCheckSign" action="@Url.Action("NonPOSign", "PaymentRequest", new { area = "FA" })" method="post">
                        <button type="submit" class="btnSignChecked btn btn-primary form-control" onclick="return confirm('Sign these data?')" disabled><i class="fas fa-file-signature"></i></button>
                    </form>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var idx = 0;}
        @foreach (var item in ViewBag.NonPOList)
        {
            idx++;
            var currID = (int)item.id;
            var nonPOSub = db.FA_Payment_Request_Non_PO_Sub.Where(w => w.Non_PO_ID == currID).ToList();
            var TotalAllocation = db.FA_Payment_Request_Non_PO_Sub.Where(w => w.Non_PO_ID == currID).ToList().Sum(s => s.Allocation_Amount);
            <tr>
                <td class="text-nowrap">
                    @if (ViewBag.currFilterStatus == "Open")
                    {
                        <input id="@("cbCheckSign" + idx)" type="checkbox" form="formCheckSign" name="iNonPOID[]" class="cbCheckSign" value="@(item.id)" />
                    }
                    <a href="#" class="toggle"> @(item.Receive_Number)</a>
                </td>
                <td class="text-nowrap">@( item.Entry_Date.ToString("dd-MM-yyyy"))</td>
                <td>@( "(" + item.Section_From_Code + ") " + item.Section_From_Name)</td>
                <td>@( "(" + item.Third_Party_Id + ") " + item.Third_Party_Name)</td>
                <td class="text-center">@(item.Currency_Code)</td>
                @if (item.Payment_Type == "Pre-Payment")
                {
                    <td class="text-right">@((item.Amount_of_Invoice + (double)(((double)item.Amount_of_Invoice / 100) * item.VAT)).ToString("N2"))</td>
                }
                else
                {
                    <td class="text-right">@(item.Amount_of_Invoice.ToString("N2"))</td>
                }
                <td class="text-nowrap">@(item.Due_Date.ToString("dd-MM-yyyy"))</td>
                <td>@(item.Payment_Method)</td>
                <td>@(item.Payment_Type)</td>
                <td>@(item.Users.Name)</td>
                <td>
                    @(PaymentRequestController.ApprovalStatus(item.Approval, item.Approval_Sub, item.Is_Reject, item.Amount_of_Invoice))
                </td>
                <td class="text-nowrap text-center">
                    @if (ViewBag.PayUserLevel <= 1 && item.Approval <= 1 && item.Is_Reject != true && (item.Created_By == currUser.GetUserId() || item.Section_From_Code == "B2210"))
                    {
                        <button class="btn btn-sm btn-warning btnNonPOEdit" data-toggle="tooltip" title="Edit" data-id="@(item.id)" data-mode="edit"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger btnNonPODelete" data-toggle="tooltip" title="Delete" data-id="@(item.id)"><i class="fas fa-trash"></i></button>
                        <hr class="m-1" />
                        <button class="btn btn-sm btn-primary btnNonPOSign" data-toggle="tooltip" title="Sign" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-file-signature"></i></button>
                    }
                    @if (item.Approval <= ViewBag.PayUserLevel && item.Approval_Sub <= ViewBag.PayUserLevelSub && item.Is_Reject != true)
                    {
                        if (item.Approval > 1)
                        {
                            <button class="btn btn-sm btn-primary btnNonPOSign" data-toggle="tooltip" title="Sign" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-file-signature"></i></button>
                            <button class="btn btn-sm btn-warning btnNonPOReturn" data-toggle="tooltip" title="Return" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-undo"></i></button>
                        }
                        if (item.Approval > 1 && item.Approval < 4 && item.Approval_Sub < 1)
                        {
                            <button class="btn btn-sm btn-danger btnNonPOReject" data-toggle="tooltip" title="Reject" data-id="@(item.id)" data-approval="@(item.Approval)" data-approval_sub="@(item.Approval_Sub)"><i class="fas fa-times"></i></button>
                        }
                    }
                    @if (ViewBag.PayUserLevel <= 1)
                    {
                        <button class="btn btn-sm btn-light btnNonPOCopy" data-toggle="tooltip" title="Copy" data-id="@(item.id)" data-mode="copy"><i class="fas fa-copy"></i></button>
                    }
                </td>
            </tr>

            <tr class="tablesorter-childRow">
                <td colspan="12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Invoice</th>
                                <th>Bgt. Number</th>
                                <th>Description</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subItem in nonPOSub)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='" + subItem.COA_Name + "'>" + subItem.COA_Code.Trim() + "</span>" + "--" + "<span title='" + subItem.Procate_Name + "'>" + subItem.Procate_Code + "</span>" + "-" + "<span title='" + subItem.Section_To_Name + "'>" + subItem.Section_To_Code + "</span>")</td>
                                    <td>@(item.Invoice_Number)</td>
                                    <td>@("(" + subItem.Budget_Number + ")" + subItem.Budget_Desc)</td>
                                    <td>@(subItem.Description)</td>
                                    <td class="tdDebit">@(subItem.Allocation_Amount.ToString("N2"))</td>
                                    <td class="tdCredit">0</td>
                                </tr>
                            }
                            @if (item.Payment_Type == "Pre-Payment")
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='Prepaid Expense'>1849101</span>--<span title='Common'>S76010</span>-" + item.Section_From_Code)</td>
                                    <td>@(item.Invoice_Number)</td>
                                    <td>@("-")</td>
                                    <td>@(item.Description)</td>
                                    <td class="tdDebit">@(item.Amount_of_Invoice.ToString("N2"))</td>
                                    <td class="tdCredit">0</td>
                                </tr>
                            }
                            else if (item.Payment_Type == "Settlement" && item.Amount_of_Invoice != TotalAllocation)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='" + item.Third_Party_Name + "'>" + item.Third_Party_Id + "</span>")</td>
                                    <td>@(item.Invoice_Number)</td>
                                    <td>@("-")</td>
                                    @if (item.Amount_of_Invoice > TotalAllocation)
                                    {
                                        <td>@("AR Other")</td>
                                        <td class="tdDebit">@((item.Amount_of_Invoice - TotalAllocation).ToString("N2"))</td>
                                        <td class="tdCredit">0</td>
                                    }
                                    else
                                    {
                                        <td>@("AP Other")</td>
                                        <td class="tdDebit">0</td>
                                        <td class="tdCredit">@((TotalAllocation - item.Amount_of_Invoice).ToString("N2"))</td>
                                    }
                                </tr>
                            }

                            @if (item.VAT > 0)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='Prepaid Tax - VAT IN'>1851104</span>--<span title='Common'>S76010</span>-" + item.Section_From_Code)</td>
                                    <td>@(item.Invoice_Number)</td>
                                    <td>@("-")</td>
                                    <td>@("Prepaid Tax - VAT IN")</td>
                                    @if (item.Payment_Type == "Pre-Payment")
                                    {
                                        <td class="tdDebit">@(((double)(((double)item.Amount_of_Invoice / 100) * item.VAT)).ToString("N2"))</td>
                                    }
                                    else
                                    {
                                        <td class="tdDebit">@(((double)(((double)TotalAllocation / 100) * item.VAT)).ToString("N2"))</td>
                                    }

                                    <td class="tdCredit">0</td>
                                </tr>
                            }
                            @if (item.WHT_Amount > 0)
                            {
                                <tr>
                                    <td>@Html.Raw("<span title='" + item.WHT_COA_Name + "'>" + item.WHT_COA_Code + "</span>" + "--<span title='Common'>S76010</span>-" + "<span title='" + item.Section_From_Name + "'>" + item.Section_From_Code + "</span>")</td>
                                    <td>@(item.Invoice_Number)</td>
                                    <td>@("-")</td>
                                    <td>@(item.WHT_COA_Name)</td>
                                    <td class="tdDebit">@(0)</td>
                                    <td class="tdCredit">@(item.WHT_Amount.ToString("N2"))</td>
                                </tr>
                            }

                            <tr>
                                @if (item.Payment_Type == "Settlement")
                                {
                                    <td>@Html.Raw("<span title='Prepaid Expense'>1849101</span>" + "--<span title='Common'>S76010</span>-" + "<span title='" + item.Section_From_Name + "'>" + item.Section_From_Code + "</span>")</td>
                                }
                                else
                                {
                                    <td>@Html.Raw("<span title='" + item.Third_Party_Name + "'>" + item.Third_Party_Id + "</span>")</td>
                                }
                                <td>@(item.Invoice_Number)</td>
                                <td>@("-")</td>
                                @if (item.Payment_Type == "Settlement")
                                {
                                    <td>Prepaid Expense</td>
                                }
                                else
                                {
                                    <td>@(item.Description)</td>
                                }
                                <td class="tdDebit">@(0)</td>
                                @if (item.Payment_Type == "Pre-Payment")
                                {
                                    if (item.WHT_Amount > 0)
                                    {
                                        <td class="tdCredit">@(((item.Amount_of_Invoice + (double)(((double)item.Amount_of_Invoice / 100) * item.VAT)) - item.WHT_Amount).ToString("N2"))</td>
                                    }
                                    else
                                    {
                                        <td class="tdCredit">@((item.Amount_of_Invoice + (double)(((double)item.Amount_of_Invoice / 100) * item.VAT)).ToString("N2"))</td>
                                    }
                                }
                                else
                                {
                                    if (item.WHT_Amount > 0)
                                    {
                                        <td class="tdCredit">@((item.Amount_of_Invoice - item.WHT_Amount).ToString("N2"))</td>
                                    }
                                    else
                                    {
                                        <td class="tdCredit">@(item.Amount_of_Invoice.ToString("N2"))</td>
                                    }
                                }
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th class="thDebitTotal">Debit</th>
                                <th class="thCreditTotal">Credit</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="12" class="ts-pager">
                <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                        <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary next" title="next">→</button>
                        <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("NonPOReject", "PaymentRequest", new { area = "FA" })" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="hfRejectID" name="iRejectID" />
                        <textarea id="txtRejectNote" name="iRejectNote" class="form-control" placeholder="Reject Note" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Reject</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Return</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("NonPOReturn", "PaymentRequest", new { area = "FA" })" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="hfReturnID" name="iNonPOID" />
                        <textarea id="txteturnReason" name="iReturnReason" class="form-control" placeholder="Return Reason" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Return</button>
                </div>
            </form>
        </div>
    </div>
</div>