<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @if (IsSectionDefined("cssHead"))
    {
        @RenderSection("cssHead", required: false)
    }
    <link href="@Url.Content("~/Content/tablesorter/theme.metro-dark.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Kaizen/Kaizen.css?v=" + DateTime.Now.TimeOfDay)" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (IsSectionDefined("scriptHead"))
    {
        @RenderSection("scriptHead", required: false)
    }
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/widgets/widget-output.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AutoNumeric.min.js")"></script>
</head>
<body>
    <div class="page-wrapper cool-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/NGKBusi">NGK Portal</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                @Html.Partial("_LoginPartialNew")

                <!-- sidebar-header  -->
                @Html.Action("mainMenu", "Home", new { area = "" })
            </div>
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <img src="~/Images/ngk-logo.png" />
                </div>
            </div>
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-12">
                        @RenderBody()
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <footer>
                                <p>@DateTime.Now.Year - NGK Busi Indonesia</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
