
@{
    string CurrentURL = Request.Url.AbsoluteUri;
}
<div class="form-group row">

    <table class="table table-sm table-bordered tblCostBenefit">
        <thead class="thead-dark">
            <tr><th colspan="3">Cost Benefit Analysis</th></tr>
        </thead>
        <tbody>
            <tr><td colspan="3" class="bg-light">1. Biaya yang dikeluarkan dalam pembuatan kaizen</td></tr>
            <tr>
                <td colspan="2" class="bg-light">Biaya bahan dan material</td>
                <td><input type="text" class="form-control txtCost" placeholder="Biaya" name="iCostMaterial" id="txtCostMaterial" value="0" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>
            <tr>
                <td colspan="2" class="bg-light">Biaya tenaga kerja atau jasa</td>
                <td><input type="text" class="form-control txtCost" placeholder="Biaya" name="iCostServices" id="txtCostServices" value="0" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>
            <tr>
                <td class="bg-light">Lainnya (Sebutkan)</td>
                <td><input type="text" class="form-control" placeholder="Sebutkan" name="iCostOtherDesc" id="txtCostOtherDesc" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
                <td><input type="text" class="form-control txtCost" placeholder="Biaya" name="iCostOther" id="txtCostOther" value="0" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>
            <tr>
                <td colspan="2" class="bg-light">Total biaya pembuatan</td>
                <td><input type="text" class="form-control txtCostTotal" placeholder="Total Biaya" name="iCostTotal" id="txtCostTotal" value="0" readonly @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>

            <tr><td class="bg-light" colspan="3">2. Keuntungan yang didapatkan dari pembuatan Kaizen</td></tr>
            <tr>
                <td class="bg-light">Type produk</td>
                <td colspan="2">
                    <select class="select form-control" id="selBenefitProductType" name="iBenefitProductType" >
                        <option value="">-Non Production-</option>
                        @foreach (var item in ViewBag.CPPList)
                        {
                            <option value="@item.Area" data-cpp="@item.CPP">@item.Area</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="bg-light">Periode Improvement</td>
                <td colspan="2"><input type="number" max="12" style="width:75px;display:inline-block;" class="form-control" placeholder="Periode" name="iBenefitPeriod" id="txtBenefitPeriod" value="12" required @(CurrentURL.Contains("OCD") ? "" : "readonly")/> Bulan</td>
            </tr>
            <tr>
                <td class="bg-light">Peningkatan quantity produksi</td>
                <td><input type="number" style="width:100px;display:inline-block;" class="form-control" placeholder="Benefit" name="iBenefitQtyPcs" id="txtBenefitQtyPcs" value="0" readonly @(CurrentURL.Contains("OCD") ? "" : "readonly")/> Pcs/Hari</td>
                <td><input type="text" class="form-control txtBenefit" placeholder="Biaya" name="iBenefitQty" id="txtBenefitQty" value="0" readonly @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>
            <tr>
                <td class="bg-light">Penurunan waktu proses</td>
                <td>
                    <input type="hidden" class="form-control" placeholder="Man Minute" name="iBenefitManMinute" id="hfBenefitManMinute" value="@(ViewBag.ManMinute)" readonly />
                    <input type="number" style="width:75px;display:inline-block;" class="form-control" placeholder="Benefit" name="iBenefitProcessTime" id="txtBenefitProcessTime" value="0" @(CurrentURL.Contains("OCD") ? "" : "readonly")/> Menit/Hari
                </td>
                <td><input type="text" class="form-control txtBenefit" placeholder="Biaya" name="iBenefitProcess" id="txtBenefitProcess" value="0" readonly /></td>
            </tr>
            <tr>
                <td class="bg-light">Lainnya (Sebutkan)</td>
                <td><input type="text" class="form-control" placeholder="Sebutkan" name="iBenefitOtherDesc" id="txtBenefitOtherDesc" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
                <td><input type="text" class="form-control txtBenefit" placeholder="Biaya" name="iBenefitOther" id="txtBenefitOther" value="0" @(CurrentURL.Contains("OCD") ? "" : "readonly")/></td>
            </tr>
            <tr>
                <td class="bg-light" colspan="2">Total keuntungan pembuatan</td>
                <td><input type="text" class="form-control txtBenefitTotal" placeholder="Total Keuntungan" name="iBenefitTotal" id="txtBenefitTotal" value="0" readonly /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="bg-light" colspan="2">Benefit Kaizen (2-1)</td>
                <td><input type="text" class="form-control txtCostBenefitTotal" placeholder="Total Keuntungan" name="iCostBenefitTotal" id="txtCostBenefitTotal" value="0" readonly /></td>
            </tr>
        </tfoot>
    </table>
</div>