@using NGKBusi.Models;

@{
    DefaultConnection db = new DefaultConnection();
    Int32 i = 1;
    string CurrentURL = Request.Url.AbsoluteUri;
}
<div id="SCScoreModal" class="modal fade" role="dialog" data-allowedEdit="@(CurrentURL.Contains("SC")?1: 0)">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SC Score <span id="spanSCBy" style="display:none;">|| <label>Reviewed By :</label> <span></span></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formOCDScore" action="@Url.Action("Score","SC",new { area = "Kaizen" })" class="form-horizontal" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="hfDataID" name="iDataID" value="0" />
                    @foreach (var item in ViewBag.SCList)
                    {
                        Int32 childID = item.ID;
                        var costBenefitRelated = (item.Name.Trim() == "BIAYA REALISASI PERBAIKAN (10)" || item.Name.Trim() == "BESAR KEUNTUNGAN YANG DIDAPATKAN (10)" ? true : false);
                        var childRow = db.Kaizen_Score_Categories_Sub.Where(x => x.catID == childID).ToList();
                        <div class="form-group row SCScoreForm" data-catID="@(item.ID)">
                            <label class="control-label col-3 text-center font-weight-bold" for="#rbSCScore" required>@(item.Name)</label>
                            <div class="col-9">
                                @foreach (var subItem in childRow)
                                {
                                    <div class="radio">
                                        <label><input type="radio" required @(CurrentURL.Contains("SC") ? "" : "disabled") class="rbSCScore @(costBenefitRelated) @(costBenefitRelated == true ? "disabled":"")" data-catID="@(item.ID)" data-subcatID="@(subItem.ID)" data-score="@(subItem.Score)" name="@("iSCScore" + i )" value="@(subItem.ID + "||" + subItem.Score)">@(subItem.Question + " : ")<span style='font-weight:bold;'>@("(" + subItem.Score + ")")</span></label>
                                    </div>
                                }
                            </div>
                        </div>
                        i++;
                    }
                    <div class="form-group row">
                        <label class="control-label col-3 text-center font-weight-bold" for="#txtSCNote" required>Catatan & Saran Penilai</label>
                        <div class="col-9">
                            <textarea id="txtSCNote" rows="2" cols="20" name="iScoreNote" class="form-control" placeholder="Catatan & Saran Penilai"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3 text-center font-weight-bold" for="#txtScore" required>SC Score : </label>
                        <div class="col-3 text-center font-weight-bold">
                            <input type="text" id="txtScore" name="iScore" value="0"/>
                        </div>
                        <div class="col-6 row" id="divReward" style="display:none;">
                            <label class="control-label col-3 text-center font-weight-bold" for="#txtReward" required>Reward : </label>
                            <div class="col-9">
                                <input type="text" id="txtReward" name="iReward" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
                @if (CurrentURL.Contains("SC"))
                {
                    <div class="modal-footer">
                        <button id="btnDataSubmit" type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
