@using Microsoft.AspNet.Identity
@using System.Security.Claims;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="mainLoggedUser" data-id="@(User.Identity.GetUserId())" href="#">@("Hello " + User.Identity.GetUserName() + "!" )</a>
         @*   @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", ((ClaimsIdentity)User.Identity).FindFirst("mainMode").Value, new { area = "" }, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li><a href="@Url.Action("Logout","User",new { area = "" })">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
