@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@using NGKBusi.Models;
@model Users


@if (Request.IsAuthenticated)
{
    DefaultConnection db = new DefaultConnection();
    var currUser = ((ClaimsIdentity)User.Identity).GetUserId();
    var CurrUser = db.V_Users_Active.Where(w => w.NIK == currUser).FirstOrDefault();
    var FavoriteMenu = db.V_User_Menu_Favorites.Where(w => w.UserName == CurrUser.NIK).ToList();

    using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-fluid img-rounded imagezoom" src="@("http://192.168.1.250/Pics/employee/" + User.Identity.GetUserId() + ".jpg")" onerror="this.onerror=null;this.src='@Url.Content("~/Content/Images/user.jpg")';" alt="User picture" />
            </div>
            <div class="user-info">
                <span class="user-name">
                    <strong>@(User.Identity.GetUserName())</strong>
                </span>
                <span class="user-role">@(((ClaimsIdentity)User.Identity).FindFirst("dept").Value)</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <div id='imagezoommodal'>
            <span class='imagezoomclose'><i class="fas fa-times"></i></span>
            <img id='imagezoomimg' />
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown favoriteMenu">
                    <a class="urlParent" href="#">
                        <i class="fas fa-heart"></i>
                        <span>Favorite Menu</span>
                    </a>
                    <div class="sidebar-submenu favoriteMenu" style="display: none;">
                        <ul>
                            @foreach (var item in FavoriteMenu)
                            {
                                <li class="navSubChild" id="Index">
                                    <a href="@Url.Action(@item.action, @item.controller, new { area = @item.area })" target="" style="width:70%; float:left" class="url animsition-link col-lg-11">
                                        <span>@item.name </span>
                                    </a>
                                    <a href="#" style="width:30%" class="btnFavorite removeFromFavoriteList" data-id="@item.IdMenu" id="@item.IdMenu"><i class="fa fa-star favIcon" style="display:block;"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }
}
@*else
    {
        <div class="sidebar-search">
            <div>
                <a href="/NGKBusi/User/Login" class="btn btn-light form-control">Login Page</a>
            </div>
        </div>
    }*@
