
@{
    ViewBag.Title = "Data";
}
<data>
    @foreach (var myevent in ViewBag.events)
    {
        <event id="@(myevent.id)">
            <start_date>@(myevent.start_date.ToString("MM/dd/yyyy HH:mm"))</start_date>
            <end_date>@(myevent.end_date.ToString("MM/dd/yyyy HH:mm"))</end_date>
            <text>@(myevent.text)</text>
            <type>@(myevent.type)</type>
        </event>
    }
</data>

<h3>List of Events</h3>
<table id="event_table" border="1" style="width:100%; border-collapse:collapse; margin-top:20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Event Text</th>
        </tr>
    </thead>
    <tbody>
        <!-- Rows will be populated dynamically -->
    </tbody>
</table>