<hr />
<div id="DLForm" class="NSForm" data-docid="1" style="display:none;">
    <form action="@Url.Action("NewDPPLine","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDLInit">Init</label>
            <div class="col-9">
                <select id="selDLInit" name="iInit" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Init-</option>
                    @foreach (var item in ViewBag.DLInit)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDLLine">Line</label>
            <div class="col-9">
                <select id="selDLLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.DLLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#txtDLRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtDLRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnDLSubmit" type="submit" value="submit" style="display:none;" />
    </form>
</div>

<div id="DMForm" class="NSForm" data-docid="2" style="display:none;">
    <form action="@Url.Action("NewDPPMachine","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDMInit">Init</label>
            <div class="col-9">
                <select id="selDMInit" name="iInit" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Init-</option>
                    @foreach (var item in ViewBag.DMInit)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDMLine">Line</label>
            <div class="col-9">
                <select id="selDMLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.DMLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDMMachine">Machine</label>
            <div class="col-9">
                <select id="selDMMachine" name="iMachine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Machine-</option>
                    @foreach (var item in ViewBag.DMMachine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selDMProcess">Process</label>
            <div class="col-9">
                <select id="selDMProcess" name="iProcess" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Process-</option>
                    @foreach (var item in ViewBag.DMProcess)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#txtDMRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtDMRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnDMSubmit" type="submit" value="submit" style="display:none;" />
    </form>
</div>

<div id="JDMForm" class="NSForm" data-docid="3" style="display:none;">
    <form action="@Url.Action("NewJDM","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selJDMInit">Init</label>
            <div class="col-9">
                <select id="selJDMInit" name="iInit" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Init-</option>
                    @foreach (var item in ViewBag.JDMInit)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selJDMLine">Line</label>
            <div class="col-9">
                <select id="selJDMLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.JDMLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selJDMMachine">Machine</label>
            <div class="col-9">
                <select id="selJDMMachine" name="iMachine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Machine-</option>
                    @foreach (var item in ViewBag.JDMMachine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selJDMDrawing">Drawing</label>
            <div class="col-9">
                <select id="selJDMDrawing" name="iDrawing" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Drawing-</option>
                    @foreach (var item in ViewBag.JDMDrawing)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selJDMProcess">Process</label>
            <div class="col-9">
                <select id="selJDMProcess" name="iProcess" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Process-</option>
                    @foreach (var item in ViewBag.JDMProcess)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#txtJDMRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtJDMRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnJDMSubmit" type="submit" value="submit" style="display:none;" />
       </form>
</div>

<div id="MHForm" class="NSForm" data-docid="4" style="display:none;">
    <form action="@Url.Action("NewMatHandling","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selMHInit">Init</label>
            <div class="col-9">
                <select id="selMHInit" name="iInit" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Init-</option>
                    @foreach (var item in ViewBag.MHInit)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selMHProducts">Products</label>
            <div class="col-9">
                <select id="selMHProducts" name="iNumber" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Product-</option>
                    @foreach (var item in ViewBag.MHProducts)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selMHLine">Line</label>
            <div class="col-9">
                <select id="selMHLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.MHLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selMHPartName">Part Name</label>
            <div class="col-9">
                <select id="selMHPartName" name="iPart" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Part-</option>
                    @foreach (var item in ViewBag.MHPartName)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#txtMHRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtMHRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnMHSubmit" type="submit" value="submit" style="display:none;" />
    </form>
</div>

<div id="TCForm" class="NSForm" data-docid="51" style="display:none;">
    <form action="@Url.Action("NewTC","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTCLine">Line</label>
            <div class="col-9">
                <select id="selTCLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.TCLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTCMachine">Machine</label>
            <div class="col-9">
                <select id="selTCMachine" name="iMachine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Machine-</option>
                    @foreach (var item in ViewBag.TCMachine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTCTools">Tools</label>
            <div class="col-9">
                <select id="selTCTools" name="iTool" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Tool-</option>
                    @foreach (var item in ViewBag.TCTools)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#txtTCRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtTCRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnTCSubmit" type="submit" value="submit" style="display:none;" />
    </form>
</div>

<div id="TNForm" class="NSForm" data-docid="52" style="display:none;">
    <form action="@Url.Action("NewTN","NumberingSystem",new { area = "PE" })" method="post">
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTNLine">Line</label>
            <div class="col-9">
                <select id="selTNLine" name="iLine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Line-</option>
                    @foreach (var item in ViewBag.TNLine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTNMachine">Machine</label>
            <div class="col-9">
                <select id="selTNMachine" name="iMachine" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Machine-</option>
                    @foreach (var item in ViewBag.TNMachine)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold" for="#selTNTools">Tools</label>
            <div class="col-9">
                <select id="selTNTools" name="iTool" class="form-control" required>
                    <option style="font-family:'Courier New';" value="">-Pilih Tool-</option>
                    @foreach (var item in ViewBag.TNTools)
                    {
                        <option value="@(item.code)" style="font-family:'Courier New';">@item.code | @item.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 text-right font-weight-bold text-right font-weight-bold" for="#txtTNRemark">Remark</label>
            <div class="col-9">
                <textarea id="txtTNRemark" rows="5" name="iRemark" class="form-control text-capitalize" placeholder="Remark" required></textarea>
            </div>
        </div>
        <input id="btnTNSubmit" type="submit" value="submit" style="display:none;" />
    </form>
</div>