@using Microsoft.AspNet.Identity;
@using System.Security.Claims;

@{
    ViewBag.Title = "Competency Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CRDataList = ViewBag.DataList;
    var CRMemberList = ViewBag.MemberList;
    var currUser = ((ClaimsIdentity)User.Identity);
    var currUserID = currUser.GetUserId();
}


@section cssHead{
    <link href="@Url.Content("~/Content/tablesorter/theme.bootstrap_4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablesorter/jquery.tablesorter.pager.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/handsontable/handsontable.full.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/HC/Competency/Result.css")" rel="stylesheet" />
}
@section scriptHead{
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.combined.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/extras/jquery.tablesorter.pager.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/widgets/widget-output.min.js")"></script>
    <script src="@Url.Content("~/Scripts/handsontable/handsontable.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/handsontable/hyperformula.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/HC/Competency/Result.js")"></script>
}


@if (Request["Position"] == null)
{
    <h2>
        Competency Result
        <a href="@Url.Action("map", "Competency", new { area = "HC" })" class="btn btn-success">Go to Competency Map List</a>
    </h2>
    <hr />
    <table class="table table-bordered table-striped tblCRFormList">
        <thead>
            <tr>
                <th>Period</th>
                <th>NIK</th>
                <th>Name</th>
                <th class="filter-select" data-placeholder="Select">Department</th>
                <th class="filter-select" data-placeholder="Select">Section</th>
                <th class="filter-select" data-placeholder="Select">Position</th>
                <th class="filter-select" data-placeholder="Select">Job Title</th>
                <th class="filter-select" data-placeholder="Select">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in CRDataList)
            {
                <tr>
                    <td>@data.Period_FY</td>
                    <td>
                        <a href="@Url.Action("Result", "Competency", new { area = "HC",GUID = data.GUID })">
                            @data.NIK
                        </a>
                    </td>
                    <td>@data.Name</td>
                    <td>@data.DeptName</td>
                    <td>@data.SectionName</td>
                    <td>@data.PostName.Replace("(ACTING)", "").Trim()</td>
                    <td>@data.TitleName.Trim()</td>
                    <td>@*<span class="badge badge-@(PA.ApprovalStatus(data.Approval,data.Approval_Sub).Badge)">@(PA.ApprovalStatus(data.Approval, data.Approval_Sub).Stat)</span>*@</td>
                </tr>
            }
            @foreach (var data in CRMemberList)
            {
                <tr>
                    <td>@ViewBag.Period</td>
                    <td>
                        <a href="@Url.Action("Result", "Competency", new { area = "HC", addNew = "addNew", nik = data.NIK, name = data.Name, division = data.DivisionName, Department = data.DeptName, section = data.SectionName, CostName = data.CostName, position = data.PositionName, TitleName = data.TitleName })">
                            @data.NIK
                        </a>
                        @*@if (data.NIK == currUserID)
                            {
                                <a href="@Url.Action("Result", "Competency", new { area = "HC", addNew = "addNew", nik = data.NIK, name = data.Name, division = data.DivisionName, Department = data.DeptName, section = data.SectionName, CostName = data.CostName, position = data.PositionName })">
                                    @data.NIK
                                </a>
                            }
                            else
                            {
                                @data.NIK
                            }*@
                    </td>
                    <td>@data.Name</td>
                    <td>@data.DeptName</td>
                    <td>@data.SectionName</td>
                    <td>@data.PositionName.Replace("(ACTING)", "").Trim()</td>
                    <td>@data.TitleName.Trim()</td>
                    <td><span class="badge badge-danger">Not-Submitted</span></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8" class="ts-pager">
                    <div class="form-inline">
                        <div class="btn-group btn-group-sm mx-1" role="group">
                            <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                            <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                        </div>
                        <span class="pagedisplay"></span>
                        <div class="btn-group btn-group-sm mx-1" role="group">
                            <button type="button" class="btn btn-secondary next" title="next">→</button>
                            <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                        </div>
                        <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                            <option selected="selected" value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="all">All Rows</option>
                        </select>
                        <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div id="divKPIFormWrapper">
        <table id="tblHeader" border="1" style="width:100%;">
            <tr>
                <td rowspan="4" class="text-center" style="width:235px">
                    <img src="~/Images/niterra-logo.jpg" class="img-fluid p-3" />
                </td>
                <td rowspan="4" class="text-center"><h3>FORMULIR INTEGRASI</h3><h4>COMPETENCY RESULT</h4></td>
                <td style="width:150px">No. Dok</td>
                <td style="width:150px">PK-HRD-ALL-01/F3</td>
            </tr>
            <tr>
                <td>Revisi</td>
                <td>01</td>
            </tr>
            <tr>
                <td>Tanggal</td>
                <td>28 Juni 2023</td>
            </tr>
            <tr>
                <td>Halaman</td>
                <td>1 of 1</td>
            </tr>
        </table>
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-2 text-left">Periode: </label>
                        <div class="col-10 lblPeriode">
                            -
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Nama: </label>
                        <div class="d-none lblNIK" data-nik="@(Request["NIK"])">
                        </div>
                        <div class="col-10 lblName" data-name="@(Request["Name"])">
                            @(Request["Name"])
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Post.: </label>
                        <div class="col-10 lblPosition" data-position="@(Request["Position"])">
                            @(Request["Position"])
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Title: </label>
                        <div class="col-10 lblTitleName" data-titlename="@(Request["TitleName"].Trim())">
                            @(Request["TitleName"].Trim())
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-2 text-left">Div.: </label>
                        <div class="col-10 lblDivision" data-division="@(Request["Division"])">
                            @(Request["Division"])
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Dept.: </label>
                        <div class="col-10 lblDepartment" data-department="@(Request["Department"])">
                            @(Request["Department"])
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Sect.: </label>
                        <div class="col-10 lblSection" data-section="@(Request["Section"])">
                            @(Request["Section"])
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 text-left">Cost.: </label>
                        <div class="col-10 lblCostName" data-costname="@(Request["CostName"])">
                            @(Request["CostName"])
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-info btnCRSaveData">Save Data</button>
                </div>
            </div>
        </div>
    </div>

    @*<table>
        <thead>
            <tr>
                <td rowspan="2">PERSYARATAN KOMPETENSI</td>
                <td rowspan="2">Std Nilai</td>
                <td colspan="7">HASIL PENILAIAN</td>
                <td rowspan="2">Catatan</td>
            </tr>
            <tr>
                <td>5</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>Nilai</td>
                <td>Hasil</td>
            </tr>
        </thead>
    </table>*@
    <div id="wrapperCompetencyResultA" class="mt-5 mb-5"><div id="divCompetencyResultA" class="divCompetencyResult" data-competency="A"></div></div>
    <div id="wrapperCompetencyResultB" class="mt-5 mb-5"><div id="divCompetencyResultB" class="divCompetencyResult" data-competency="B"></div></div>
    <div id="wrapperCompetencyResultC" class="mt-5 mb-5"><div id="divCompetencyResultC" class="divCompetencyResult" data-competency="C"></div></div>
    
    
    
}